<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-start">
    <mat-form-field class="w-75" appearance="outline">
    <mat-label>Search</mat-label>
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Keyword">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button class="button button-dark" routerLink="add">Add new project</button>
  </div>
  <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort
    cdkDropList
    [cdkDropListData]="dataSource"
    (cdkDropListDropped)="drop($event)">
    <ng-container matColumnDef="order">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Order</th>
      <td mat-cell *matCellDef="let project">{{project.order}}</td>
    </ng-container>

    <ng-container matColumnDef="folder">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Folder</th>
      <td mat-cell *matCellDef="let project">{{project.folder}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let project">{{project.title}}</td>
    </ng-container>

    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Duration</th>
      <td mat-cell *matCellDef="let project" class="mx-2">{{project.duration}}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let project">{{project.userID}}</td>
    </ng-container>

    <ng-container matColumnDef="industry">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Industry</th>
      <td mat-cell *matCellDef="let project">{{project.industry}}</td>
    </ng-container>

    <ng-container matColumnDef="slug">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>slug</th>
      <td mat-cell *matCellDef="let project">{{project.slug}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let project" class="mx-2">{{project.status}}</td>
    </ng-container>

    <ng-container matColumnDef="technologies">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Technologies</th>
      <td mat-cell *matCellDef="let project" class="mx-2">{{project.technologies}}</td>
    </ng-container>

    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
      <td mat-cell *matCellDef="let project">{{project.updatedAt * 1000 | date: 'dd MMM y'}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let project">
          <a [routerLink]="project.id +'/edit'">
            <mat-icon class="material-icons-outlined">
              edit
            </mat-icon>
          </a>
          <a (click)="onDelete(project.id)" style="cursor: pointer;">
            <span class="material-icons-outlined text-danger">
              delete
            </span>
          </a>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" cdkDrag></tr>
  </table>
  <div *ngIf="isLoading" 
    style="display: flex; justify-content: center; align-items: center; background: white;">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
  <mat-paginator 
    #paginator 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChange($event)"
    showFirstLastButtons  
  >
  </mat-paginator>
</div>

