
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <accordion class="mt-3 mb-3">
          <accordion-group (isOpenChange)="toggle()">
            <div
              class="btn btn-link btn-block justify-content-between d-flex w-100  shadow-none"
              accordion-heading type="button">
              <h5 class="pull-left float-left">Search Needs</h5>
              <span class=" float-right pull-right">
                 <fa-icon [icon]="'chevron-down'" *ngIf="!searchOpen"></fa-icon>
                <fa-icon [icon]="'chevron-up'" *ngIf="searchOpen"></fa-icon>
              </span>
            </div>
            <app-needs-search (searchOut)="searchForm($event)"></app-needs-search>
          </accordion-group>
        </accordion>
      </div>
      <div class="col-12">
        <div class="card mt-3 mb-3">
          <div class="card-header bg-info pointer-event">
            <div class="title pointer">
              <h5>Needs List</h5>
            </div>
            <div class="acctions">
              <button class="btn btn-primary btn-sm" type="button" (click)="getDownloadToken()">
                <fa-icon [icon]="'file-export'"></fa-icon>
                Export
              </button>
              <button class="btn btn-primary btn-sm" type="button" routerLink="/admin/dashboard/need">
                <fa-icon [icon]="'plus'"></fa-icon>
                Add Need
              </button>
              <button class="btn btn-primary btn-sm" type="button" (click)="groupNeed()">
                <fa-icon [icon]="'object-group'"></fa-icon>
                Group Edit
              </button>
            </div>
          </div>
          <div class="card-body">

            <div class="loadingCardBody" *ngIf="loading">
              <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <table class="table">
                  <thead>
                  <tr>
                    <ng-container *ngFor="let head of tableHead;">
                      <th class="col-1" scope="col">

                        <ng-container *ngIf="head.sort">
                          <label class="headerText" *ngIf="search.order !== head.colName +' ASC' && search.order !== head.colName +' DESC'" (click)="order(head.colName +' ASC')">
                            <div>
                              <input class="form-check-input mr-2" type="checkbox" [(ngModel)]="selectAllNeeds" *ngIf="head.selectCheckbox" (click)="selectAllNeedsAction($event)">
                              <span>{{head.label}} <span *ngIf="head.total">( <span class="mainColor">{{totalItems}}</span> )</span></span>
                            </div>
                            <fa-icon [icon]="['fas', 'sort']"></fa-icon>
                          </label>
                          <label class="headerText" *ngIf="search.order === head.colName +' ASC'" (click)="order(head.colName +' DESC')">
                            <div>
                              <input class="form-check-input mr-2" type="checkbox" [(ngModel)]="selectAllNeeds" *ngIf="head.selectCheckbox" (click)="selectAllNeedsAction($event)">
                              <span>{{head.label}} <span *ngIf="head.total">( <span class="mainColor">{{totalItems}}</span> )</span></span>
                            </div>
                            <fa-icon [icon]="['fas', 'sort-up']"></fa-icon>
                          </label>
                          <label class="headerText" *ngIf="search.order === head.colName +' DESC'" (click)="order(null)">
                            <div>
                              <input class="form-check-input mr-2" type="checkbox" [(ngModel)]="selectAllNeeds" *ngIf="head.selectCheckbox" (click)="selectAllNeedsAction($event)">
                              <span>{{head.label}} <span *ngIf="head.total">( <span class="mainColor">{{totalItems}}</span> )</span></span>
                            </div>
                            <fa-icon [icon]="['fas', 'sort-down']"></fa-icon>
                          </label>
                        </ng-container>
                        <ng-container *ngIf="!head.sort">
                          <label class="headerText">
                            <input class="form-check-input mr-2" type="checkbox" [(ngModel)]="selectAllNeeds" *ngIf="head.selectCheckbox" (click)="selectAllNeedsAction($event)">
                            <span>{{head.label}}</span>
                          </label>
                        </ng-container>
                      </th>
                    </ng-container>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of items; let itemKey = index; trackBy: trackByFn">
                    <td class="" >
                      <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" [(ngModel)]="item.selected" (click)="selectItem($event)">
                        <label class="form-check-label" for="inlineCheckbox1">{{item.id}}</label>
                      </div>
                    </td>
                    <td><p>{{item.title}}</p></td>
                    <td><p>{{item.status}}</p></td>
                    <td><p>{{(item.expiresAt? ((item.expiresAt * 1000) | date) : '-')}}</p></td>
                    <td><p>{{item.familyName}}</p></td>
                    <td><p>{{item.socialWorkerName}}</p></td>
                    <td><p>{{item.supervisorName}}</p></td>
                    <td class="actionsList">
                      <a class="textTitle pointer" routerLink="/admin/dashboard/need/{{item.id}}">
                        <img src="./assets/images/icons/icon-edit.svg" alt="edit icon">
                      </a>
                      <a class="textTitle pointer" (click)="remove(item.id)">
                        <img src="./assets/images/icons/icon-delete.svg" alt="website link">
                      </a>
                      <a class="textTitle pointer" [href]="needLink(item)" target="_blank">
                        <img src="./assets/images/icons/icon-website-link.svg" alt="website link">
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12 col-12">
                <pagination
                  [totalItems]="totalItems"
                  [itemsPerPage]="search.limit"
                  [(ngModel)]="currentPage"
                  (pageChanged)="onPageChange($event)"
                  previousText="&lsaquo;"
                  nextText="&rsaquo;"
                  firstText="&laquo;"
                  lastText="&raquo;"
                ></pagination>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


