.rowFooter {
  padding-top: 64px;
  padding-bottom: 64px;
  .text {
    @media screen and (max-width: 575px) {
      text-align: center;
    }
    p{
      margin-bottom: 0;
    }
  }
  .logoSection {

    @media screen and (max-width: 575px) {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 32px;
    }

    .logo {
      padding-bottom: 24px;
      @media screen and (max-width: 575px) {
        text-align: center;
      }
    }
    .social {
      display: flex;
      gap: 24px;
      @media screen and (max-width: 575px) {
        justify-content: center;
      }
    }
  }
  .pb-24 {
    padding-bottom: 24px;
  }
}
