<div class="container">
  <div class="row rowFooter">
    <div class="col-12 col-sm-6 logoSection">
      <div class="row">
        <div class="col-12 logo">
          <a routerLink="/">
            <img src="./assets/images/logo-gray.svg" alt="carenow logo gray">
          </a>
        </div>
        <div class="col-12 social">
          <a href="https://www.facebook.com/congregationsforkids/" target="_blank">
            <img src="./assets/images/icons/icon-facebook.svg" alt="facebook icon">
          </a>
          <a href="https://www.instagram.com/congregationsforkids/" target="_blank">
            <img src="./assets/images/icons/icon-instagram.svg" alt="instagram icon">
          </a>
          <a href="https://twitter.com/cong4kids" target="_blank">
            <img src="./assets/images/icons/icon-twitter.svg" alt="twitter icon">
          </a>
          <a href="https://www.cfknc.org/" target="_blank">
            <img src="./assets/images/icons/icon-globe.svg" alt="globe icon">
          </a>
        </div>
      </div>
    </div>
    <div class="col-12 col-sm-6 text">
      <p class="text-small-source">5835 EXECUTIVE CENTER DRIVE, SUITE 101-J, CHARLOTTE, NC 28212</p>
      <p class="text-small-source pb-24">
        <a href="mailto:INFO@CFKNC.ORG">INFO@CFKNC.ORG</a>
      </p>
      <p class="text-small-source">© {{year}} CONGREGATIONS FOR KIDS.</p>
    </div>
  </div>
</div>

