<div class="row bg-primary ">
  <div class="col-12 headerSection">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../../assets/images/logo-white.svg" alt="CareNow logo">
      </a>
    </div>
    <div class="needsCounter">
      <div class="needsMet">
        <span class="text-xsmall">NEEDS MET:</span>
        <span class="title-small">{{needsStats.met}}</span>
      </div>
      <div class="needsRemaining">
        <span class="text-xsmall">NEEDS REMAINING:</span>
        <span class="title-small">{{needsStats.listed}}</span>
      </div>
    </div>
    <div class="actions">
      <div class="donate">
        <a class="buttonNavbar" target="_blank" href="https://cfknc.kindful.com/?campaign=1093529">
          Donate Now
        </a>
      </div>
      <div class="menu">
        <div class="btn-group" dropdown #dropdown="bs-dropdown">
          <div dropdownToggle>
            <button
              id="button-animated"
              type="button"
              class="roundMenu"
              aria-controls="dropdown-animated"
            >
              <img [class.d-none]="dropdown.isOpen" src="./assets/images/icons/icon-menu.svg" alt="menu icon">
              <img [class.d-none]="!dropdown.isOpen" src="./assets/images/icons/icon-close-menu.svg" alt="menu icon">
            </button>
          </div>

          <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
              role="menu" aria-labelledby="button-animated">
            <li role="menuitem"><h6 class="dropdown-header">Navigation</h6></li>

            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" routerLink="/"><span>HOME</span></a></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" routerLink="/needs"><span>ALL NEEDS</span></a></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" href="https://www.cfknc.org/carenowvolunteer" target="_blank"><span>VOLUNTEER + DONATE GOODS</span></a></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" href="https://www.cfknc.org/carenowfaq" target="_blank"><span>FAQ</span></a></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" href="https://www.cfknc.org/carenowtestimonials" target="_blank"><span>TESTIMONIALS</span></a></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" href="mailto:carenow@cfknc.org" target="_blank"><span>CONTACT</span></a></li>
            <li role="menuitem"><h6 class="dropdown-header">For Social Workers</h6></li>
            <li class="divider dropdown-divider"></li>
            <li role="menuitem"><a class="dropdown-item buttonMenu" href="https://www.cfknc.org/socialworker" target="_blank"><span>SUBMIT A NEED</span></a>
            </li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>
