<div class="container-fluid dashboard">
  <div class="row">
    <div class="col dashboardSidebar">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col dashboardContent">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
