<div class="container-fluid form-container">
  <div class="form-content">
    <form [formGroup]="blogForm" (submit)="onSubmit()">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Blog Add/Edit Testimonials</h2>
        <button type="submit" mat-raised-button class="button button-dark">Save</button>
      </div>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Blog Form">
          <div class="shadow p-3 mb-5 bg-white rounded my-2">
            <div class="row col-12 align-items-center">
              <mat-form-field appearance="outline" class="col-12 col-md-6">
                <mat-label>Blog Title</mat-label>
                <input 
                  matInput 
                  formControlName="title"
                  placeholder="Enter Title"
                >
              </mat-form-field>
              <mat-checkbox formControlName="status" class="col-12 col-md-6">Published</mat-checkbox>
            </div>
            <div class="row col-12">
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Excerpt</mat-label>
                  <textarea
                    rows="6"
                    matInput 
                    formControlName="excerpt"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Categories</mat-label>
                  <mat-select formControlName="categories" multiple>
                    <mat-option *ngFor="let category of categoryList" [value]="category.id">{{category.title}}</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Slug</mat-label>
                  <input 
                    matInput 
                    formControlName="slug"
                    placeholder="Slug"
                  >
                </mat-form-field>
              </div>
            </div>
            <div class="row gx-4 col-12">
              <div class="col-12 col-lg-6">
                <label class="image-label">Cover Image</label>
                <div class="d-flex flex-wrap">
                  <app-cropper
                    class="col-12"
                    [ngClass]="{'col-md-9': posts?.imageURL}"
                    (imageURL)="addImageURL($event)"
                  ></app-cropper>
                  <div 
                    *ngIf="posts?.imageURL"
                    class="d-flex justify-content-center align-items-center image-cropped"
                    [ngClass]="{'col-12 col-md-3': posts?.imageURL}">
                    <img [src]="baseURL + '/' + posts?.imageURL" alt="posts">
                  </div>
                </div>
              </div>
              <div class="col-12 col-lg-6">
                <label class="image-label">Card Image</label>
                <div class="d-flex flex-wrap">
                  <app-cropper
                    class="col-12"
                    [ngClass]="{'col-md-9': posts?.imageURLCard}"
                    (imageURL)="addImageURLCard($event)"
                  ></app-cropper>
                  <div 
                    *ngIf="posts?.imageURLCard"
                    class="d-flex justify-content-center align-items-center image-cropped"
                    [ngClass]="{'col-12 col-md-3': posts?.imageURLCard}">
                    <img [src]="baseURL + '/' + posts?.imageURLCard" alt="posts">
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-12">
              <div class="col-12" style="padding: 0 12px;">
                <label> Content </label>
                <div class="editor">
                  <ckeditor 
                    [editor]="contentEditor" 
                    formControlName="content"
                    (ready)="onReady($event)"
                  ></ckeditor>
                </div>
              </div>
            </div>
            
          </div>
        </mat-tab>
        <mat-tab label="SEO Elements">
          <div class="shadow p-4 mb-5 bg-white rounded my-2 w-100">
            <div class="row">
              <div class="row col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Meta Title</mat-label>
                  <input 
                    matInput 
                    formControlName="seoMetatitle"
                    placeholder="Enter Meta Title"
                  >
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Keywords</mat-label>
                  <input 
                    matInput 
                    formControlName="seoKeywords"
                    placeholder="Enter seoKeywords"
                  >
                </mat-form-field>
              </div>
              <div class="row col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Description</mat-label>
                  <textarea 
                    rows="6"
                    matInput 
                    formControlName="seoDescription"
                    placeholder="Enter SEO Description"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="row col-12">
                  <app-cropper
                    class="col-12"
                    [ngClass]="{'col-md-9': posts?.seoImageURL}"
                    (imageURL)="addSeoImageUrl($event)"
                  ></app-cropper>
                  <div
                    *ngIf="posts?.seoImageURL"
                    class="d-flex justify-content-center align-items-center"
                    [ngClass]="{'col-12 col-md-3': posts?.seoImageURL}">
                    <img [src]="baseURL + '/' + posts?.seoImageURL" alt="testimonial" class="image-cropped">
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>
