.rowNewsletter {
  padding-top: 64px;
  padding-bottom: 64px;

  &.submitted {
    .info {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 16px;
      p {
        color: white;
        text-align: center;
      }
    }
    .text {
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      .icon {
        margin-right: 8px;
      }
    }
  }
  .text {
    text-align: center;
    h4, p {
      color: white;
    }

  }
  .text-normal-source {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  form {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 24px;
    color: white;
    flex-wrap: wrap;

    @media screen and (max-width: 767px) {
      gap: 12px;
    }


    .firstName {
      @media screen and (max-width: 767px) {
        width: calc(50% - 6px);
      }
    }

    .lastName {
      @media screen and (max-width: 767px) {
        width: calc(50% - 6px);
      }
    }

    .email {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }

    .buttonNormalPrimaryNoFill {
      @media screen and (max-width: 767px) {
        width: 100%;
      }
    }


    button {
      border: 1px solid #FFFFFF;
      border-radius: 4px;
      padding: 5px 94px;
      min-height: 48px;
    }
  }
}
