<div class="container">
    <div class="row rowNewsletter" *ngIf="!submitted">
     <div class="col-12 text">
       <h4 class="title-large">Get Notified of New Needs</h4>
       <p class="text-normal-source">While you’re here, sign up to be one of the first to know when new needs are added.</p>
     </div>
     <div class="col-12">
         <form
           [formGroup]="form"
           autocomplete="off"
           (submit)="submit()"
            id="mc-embedded-subscribe-form"
            name="mc-embedded-subscribe-form"
         >

           <div class="firstName">
             <label for="firstName" class="label-text">First Name</label>
             <div>
               <input
                 type="text"
                 value=""
                 formControlName="firstName"
                 name="firstName" id="firstName"
                 class="form-control"
                 placeholder="First Name" required
                 [class]="f['firstName'].dirty ? (f['firstName'].invalid  ? 'is-invalid' : 'is-valid') : ''"
               >
             </div>
           </div>

           <div class="lastName">
             <label for="lastName" class="label-text">Last Name</label>
             <div>
               <input
                 type="text"
                 value=""
                 formControlName="lastName"
                 name="lastName"
                 id="lastName"
                 class="form-control"
                 placeholder="Last Name"
                 [class]="f['lastName'].dirty ? (f['lastName'].invalid  ? 'is-invalid' : 'is-valid') : ''"
                 required
               >
             </div>
           </div>

           <div class="email">
             <label for="email" class="label-text">Email</label>
             <div>
               <input
                 type="email"
                 value=""
                 formControlName="email"
                 name="email"
                 id="email"
                 class="form-control"
                 placeholder="you@example.com"
                 [class]="f['email'].dirty ? (f['email'].invalid  ? 'is-invalid' : 'is-valid') : ''"
                 required
               >
             </div>
           </div>

           <button type="submit"
                   id="mc-embedded-subscribe"
                   class="buttonNormalPrimaryNoFill"
                   [disabled]="loading"
           >
             Sign me up
           </button>

         </form>

     </div>
    </div>
  <div class="row rowNewsletter submitted" *ngIf="submitted">
    <div class="col-12 text">
      <div class="icon" [inlineSVG]="'./assets/images/icons/icon_baseline-check-circle.svg'"></div>
      <p class="title-normal">Success</p>
    </div>
    <div class="col-12 info">
      <p class="text-small-source">
        You’ve been successfully subscribed to our newsletter!
      </p>
    </div>
  </div>
</div>

