<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-12 frontHeader">
      <app-menu></app-menu>
    </div>

    <div class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-12 needListHeader">
            <div class="titleNeeds position-relative">
              <p class="title-xlarge">View All Needs</p>
              <div class="dots-picture">
                <span class="dot dot--1"></span>
                <span class="dot dot--2"></span>
                <span class="dot dot--3"></span>
                <span class="dot dot--4"></span>
                <span class="dot dot--5"></span>
                <span class="dot dot--6"></span>
              </div>
            </div>

            <p class="text-normal-source" >
              This is a list of immediate needs of children, families, and young adults in the foster care system.
              This is the opportunity to get involved in a foster child's life, Now.
            </p>
          </div>
        </div>
        <div class="row  filterSection" #filters>
          <div class="col-12 ">
            <div class="bg-gray filters">
              <span class="text-normal">
              Filter by
            </span>
              <ng-select
                [clearable]="true"
                [items]="ageRange$ | async"
                [multiple]="true"
                bindLabel="name"
                bindValue="id"
                id="itemType"
                placeholder="Age Range"
                [(ngModel)]="searchNeeds.ageRange"
                (change)="search()"
              >
                <ng-template ng-multi-label-tmp let-items="items">
                  <p>{{items | joinSelect}}</p>
                </ng-template>`
                <ng-template ng-option-tmp let-item="item">
                  {{item.name}}
                </ng-template>
              </ng-select>
              <ng-select
                [clearable]="true"
                [items]="price$ | async"
                [multiple]="false"
                bindLabel="name"
                bindValue="id"
                id="itemPrice"
                placeholder="Price Range"
                [(ngModel)]="searchNeeds.price"
                (change)="search()"
              >
              </ng-select>
              <ng-select
                [clearable]="true"
                [items]="gender$ | async"
                [multiple]="true"
                bindLabel="name"
                bindValue="id"
                id="gender"
                placeholder="Gender"
                [(ngModel)]="searchNeeds.gender"
                (change)="search()"
              >
                <ng-template ng-multi-label-tmp let-items="items">
                  <p>{{items | joinSelect}}</p>
                </ng-template>`
                <ng-template ng-option-tmp let-item="item">
                  {{item.name}}
                </ng-template>
              </ng-select>
              <ng-select
                [clearable]="true"
                [items]="expiresAt$ | async"
                [multiple]="false"
                bindLabel="name"
                bindValue="id"
                placeholder="Time to expiration"
                [(ngModel)]="searchNeeds.expiresAt"
                (change)="search()"
              >
              </ng-select>
              <ng-select
                [clearable]="true"
                [items]="counties$ | async"
                [multiple]="false"
                [loading]="countiesLoading"
                bindLabel="name"
                bindValue="id"
                placeholder="County"
                [(ngModel)]="searchNeeds.county"
                (change)="search()"
              >
              </ng-select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12">
            <div class="itemsContainer" [class.loading]="itemsLoading">
              <ng-container *ngIf="!itemsLoading">
                <div class="needsCards" *ngIf="items && items.length > 0" [class.loading]="itemsLoadingSearch">
                  <div class="needCard" [class.claimed]='item.status !== "listed"' *ngFor="let item of items;"
                       routerLink="/needs/{{item.id}}"
                       [routerLink]="item.status !== 'listed' ? [] : ['/needs/', item.id]"
                  >
                    <div class="claimed" *ngIf='item.status !== "listed"'>
                      <img  [src]="'./assets/images/icons/icon-claimed.svg'" alt="claimed need image">
                      <p>CLAIMED</p>
                    </div>
                    <div class="cardImage">
                      <img *ngIf="item.imageURL" [src]="frontUrl +  item.imageURL" alt="{{item.title}}">
                      <img *ngIf="!item.imageURL"  [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                    </div>
                    <div class="cardInfo">
                      <div class="time" *ngIf="(item.days || item.days === 0)">
                        <ng-container *ngIf="!(item.status !== 'listed')">
                          <span class="icon" [class.passed]="item.days > -1" [inlineSVG]="'./assets/images/icons/icon-time.svg'"></span>
                          <span class="passed" *ngIf="item.days === 1">1 day overdue</span>
                          <span class="passed" *ngIf="item.days > 1">{{item.days}} days overdue</span>
                          <span class="passed" *ngIf="item.days === 0">Needed today</span>
                          <span *ngIf="item.days === -1">Needed in 1 day</span>
                          <span *ngIf="item.days < -1">Needed in {{item.days * -1}} days </span>
                        </ng-container>

                      </div>
                      <div class="price" *ngIf="!(item.status !== 'listed')">
                        <span [class.active]="item.price > 0" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                        <span [class.active]="item.price >= 50" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                        <span [class.active]="item.price >= 100" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                        <span [class.active]="item.price > 200" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                      </div>

                    </div>
                    <div class="cardTitle">
                      <p class="text-normal" >{{item.title}}</p>
                    </div>
                  </div>
                </div>
                <div class="noNeeds" *ngIf="!items || items.length === 0">
                  <img src="./assets/images/icon-no-results.svg" alt="no results">
                  <p class="title-normal">Sorry! No results found :(</p>
                  <p class="text-normal-source">Please try to change the filters options.</p>
                </div>
              </ng-container>
              <ng-container *ngIf="itemsLoading || itemsLoadingSearch">
                <div class="loadingNeeds position-absolute">
                  <div class="loadingio-spinner-spin-9m19wlrh76b"><div class="ldio-qakypr2cpe">
                    <div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div><div><div></div></div>
                  </div></div>
                  <p class="title-normal">Loading</p>
                </div>
              </ng-container>
            </div>



          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 col-12 paginationRow">
            <pagination
              *ngIf="items && items.length !== 0 && totalItems > searchNeeds.limit"
              [totalItems]="totalItems"
              [itemsPerPage]="searchNeeds.limit"
              [(ngModel)]="currentPage"
              (pageChanged)="onPageChange($event, filters)"
              [maxSize]="10"
              previousText="&lsaquo;"
              nextText="&rsaquo;"
              firstText="&laquo;"
              lastText="&raquo;"
            ></pagination>
          </div>
        </div>
      </div>
    </div>


    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
</div>



