<div class="container-fluid form-container">
  <div class="form-content">
    <form [formGroup]="projectForm" (submit)="onSubmit()">
      <div class="d-flex justify-content-between align-items-center">
        <h2 >
          <span *ngIf="!projectData?.id">Add Project</span>
          <span *ngIf="projectData?.id">
            Edit: {{ projectData?.title }}
          </span>
        </h2>
        <button type="submit" mat-raised-button class="button button-dark">Save</button>
      </div>
      <mat-tab-group mat-align-tabs="start">
        <mat-tab label="Project Form">
          <div class="row shadow p-4 mb-5 bg-white rounded my-4 w-100">
              <div class="row col-12 col-lg-8">
                <mat-form-field appearance="outline" class="col-12 col-lg-12">
                  <mat-label>Article Title</mat-label>
                  <input 
                    matInput 
                    formControlName="title"
                    placeholder="Enter title"
                  >
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12 col-md-6">
                  <mat-label>Project Name</mat-label>
                  <input 
                    matInput 
                    formControlName="project"
                    placeholder="Enter project name"
                  >
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12 col-md-6">
                  <mat-label>Slug</mat-label>
                  <input 
                    matInput 
                    formControlName="slug"
                    placeholder="slug"
                  >
                </mat-form-field>

                <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Industry</mat-label>
                    <mat-select formControlName="industry">
                      <mat-option *ngFor="let industry of industryList" [value]="industry">{{ industry }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field appearance="outline" class="col-12 col-md-6">
                    <mat-label>Technologies</mat-label>
                    <mat-select formControlName="technologies" [multiple]="true">
                      <mat-select-trigger>
                        {{projectForm.get('technologies')?.value ? projectForm.get('technologies')?.value[0] : ''}}
                        <span *ngIf="projectForm.get('technologies')?.value?.length > 1">
                          (+{{projectForm.get('technologies')?.value.length - 1}} 
                          {{projectForm.get('technologies')?.value?.length === 2 ? 'other' : 'others'}})
                        </span>
                        
                      </mat-select-trigger>
                      <mat-option *ngFor="let technology of technologyList" [value]="technology">{{technology}}</mat-option>
                    </mat-select>
                  </mat-form-field>
              </div>
              <div class="row col-12 col-lg-4">
                <mat-checkbox formControlName="status" class="col-12 checkboxes">Published</mat-checkbox>
                <mat-checkbox formControlName="caseStudy" class="col-6 checkboxes">CaseStudy?</mat-checkbox>
                <mat-checkbox formControlName="homepage" class="col-6 checkboxes">Display on homepage?</mat-checkbox>
                <mat-checkbox formControlName="software" class="col-6 checkboxes">Display on Custom Software?</mat-checkbox>
                <mat-checkbox formControlName="node" class="col-6 checkboxes">Display on Node Development?</mat-checkbox>
                
              </div>
              <div class="row col-12">
                <mat-form-field appearance="outline" class="col-12 col-md-4 row-image mt-3">
                  <mat-label>Excerpt</mat-label>
                  <textarea 
                    matInput 
                    formControlName="excerpt"
                    placeholder="Enter excerpt"
                  ></textarea>
                </mat-form-field>

                <div class="col-12 col-md-4">
                  <label class="image-label">Cover Image</label>
                  <app-cropper
                    class="col-12"
                    [ngClass]="{'col-md-9': projectData?.imageURL}"
                    (imageURL)="addImageURL($event)"
                  ></app-cropper>
                </div>
                <div 
                    *ngIf="projectData?.imageURL"
                    class="d-flex justify-content-center align-items-center image-cropped"
                    [ngClass]="{'col-12 col-md-4': projectData?.imageURL}">
                    <img [src]="baseURL + '/' + projectData?.imageURL" alt="testimonial">
                </div>
              </div>
            <div class="row col-12">
              <div class="col-12 col-md-6" style="padding: 0 12px;">
                  <label class="image-label">Content Left</label>
                  <div class="editor col-12">
                    <ckeditor 
                      [editor]="contentEditor" 
                      formControlName="content"
                      (ready)="onReady($event)"
                    ></ckeditor>
                  </div>
                </div>

                <div class="col-12 col-md-6" style="padding: 0 12px;">
                 <label class="image-label">Content Right</label>
                  <div class="editor col-12">
                    <ckeditor 
                      [editor]="contentRightEditor" 
                      formControlName="contentRight"
                      (ready)="onReady($event)"
                    ></ckeditor>
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="SEO Elements">
          <div class="shadow p-4 mb-5 bg-white rounded my-2 w-100">
            <div class="row">
              <div class="row col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Meta Title</mat-label>
                  <input 
                    matInput 
                    formControlName="seoMetatitle"
                    placeholder="Enter Meta Title"
                  >
                </mat-form-field>
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Keywords</mat-label>
                  <input 
                    matInput 
                    formControlName="seoKeywords"
                    placeholder="Enter seoKeywords"
                  >
                </mat-form-field>
              </div>
              <div class="row col-12 col-lg-6">
                <mat-form-field appearance="outline" class="col-12">
                  <mat-label>Description</mat-label>
                  <textarea 
                    rows="6"
                    matInput 
                    formControlName="seoDescription"
                    placeholder="Enter SEO Description"
                  ></textarea>
                </mat-form-field>
              </div>
              <div class="row col-12">
                  <app-cropper
                    class="col-12"
                    [ngClass]="{'col-md-9': projectData?.seoImageURL}"
                    (imageURL)="addSeoImageUrl($event)"
                  ></app-cropper>
                  <div
                    *ngIf="projectData?.seoImageURL"
                    class="d-flex justify-content-center align-items-center"
                    [ngClass]="{'col-12 col-md-3': projectData?.seoImageURL}">
                    <img [src]="baseURL + '/' + projectData?.seoImageURL" alt="testimonial" class="image-cropped">
                  </div>
                </div>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>
    </form>
  </div>
</div>
