<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-12 frontHeader">
      <app-menu></app-menu>
    </div>

    <div class="bg-white">
      <div class="container">
        <div class="row backToNeeds">
          <div class="col-12">
            <button class="buttonSmallTertiary" routerLink="/needs">
              <div class="icon" [inlineSVG]="'./assets/images/icons/icon-arrow-left.svg'"></div>
              BACK TO ALL NEEDS
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-white">
      <div class="container">
        <div class="row thankYouRow">
          <div class="col-12 heroImageThankYou">
            <picture class="pointer">
              <source media="(min-width:650px)"
                      srcset="
                            ./assets/images/thank-you/hero-image-thank-you.png 1x,
                            ./assets/images/thank-you/hero-image-thank-you@2x.png 2x,
                            ./assets/images/thank-you/hero-image-thank-you@3x.png 3x
                          "
              >
              <source media="(min-width:465px)"
                      srcset="
                            ./assets/images/thank-you/hero-image-thank-you.png 1x,
                            ./assets/images/thank-you/hero-image-thank-you@2x.png 2x,
                            ./assets/images/thank-you/hero-image-thank-you@3x.png 3x
                          "
              >
              <img src="./assets/images/thank-you/hero-image-thank-you.png" alt="hero image thank you" style="width:100%;">
            </picture>
          </div>
          <div class="col-12">
            <ng-container *ngIf="item">
              <div class="container-small bg-gray">
                <div class="row">
                  <div class="col-12 section stats">

                    <div class="title">
                      <div class="position-relative">
                        <h2 class="title-medium paddingBottom" *ngIf="item.champion">
                          Thank you, {{item.champion.firstName}}, for helping to stabilize a family in their time of need!
                        </h2>
                        <div class="dots-picture single">
                          <span class="dot dot--1"></span>
                          <span class="dot dot--2"></span>
                          <span class="dot dot--3"></span>
                          <span class="dot dot--4"></span>
                          <span class="dot dot--5"></span>
                          <span class="dot dot--6"></span>
                        </div>
                      </div>
                    </div>

                    <hr class="divider">
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Need:</p>
                    <p class="text-normal">{{item.title}}</p>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Suggested Value:</p>
                    <p class="text-normal">{{item.price? "$ "+item.price: '-'}}</p>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Date Needed By:</p>
                    <p class="text-normal">{{ item.expiresAt? ( item.expiresAt * 1000 | date: 'M/d/y') : '-'}}</p>
                  </div>
                  <div class="col-12 paddingBottom" *ngIf="!itemShare">
                    <p class="text-normal-strong">Ship To:</p>
                    <p class="text-normal">{{ item.deliveryAddress? item.deliveryAddress : '-'}}</p>
                    <mark class="addressWarning">
                      <img src="./assets/images/icons/icon-warning.svg" alt="icon warning">
                      <span class="text-small-source">
                        PLEASE SHIP TO THIS EXACT ADDRESS
                      </span>
                    </mark>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Description:</p>
                    <div class="needDescription">
                      <quill-view-html [content]="item.description" theme="snow"></quill-view-html>
                    </div>
                  </div>
                </div>
              </div>
              <div class="container-small bg-light share">
                <div class="row shareRow">
                  <div class="col-12">
                    <p class="title-small">
                      Share and encourage your friends to support children
                    </p>
                  </div>
                  <div class="col-12 shareIcons" *ngIf="item.id">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{needShareLink(item.id)}}"
                       target="_blank">
                      <img src="./assets/images/icons/icon-share-facebook.svg" alt="facebook share icon">
                    </a>
                    <a href="https://t.me/share/url?url={{needShareLink(item.id)}}" target="_blank">
                      <img src="./assets/images/icons/icon-share-telegram.svg" alt="telegram share icon">
                    </a>
                    <a href="https://twitter.com/intent/tweet?text={{needShareLink(item.id)}}" target="_blank">
                      <img src="./assets/images/icons/icon-share-twitter.svg" alt="twitter share icon">
                    </a>
                    <a [href]="sanitize('whatsapp://send?text=' + (needShareLink(item.id)))" target="_blank">
                      <img src="./assets/images/icons/icon-share-whatsapp.svg" alt="whatsapp share icon">
                    </a>
                  </div>
                </div>
              </div>

            </ng-container>
            <ng-container *ngIf="!item">
              <div class="container-small bg-gray">
                <div class="row">
                  <div class="col-12 section stats">
                    <shimmer width="100%" borderRadius="5px" height="40px"></shimmer>

                    <hr class="divider">
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Need:</p>
                    <p class="text-normal">
                      <shimmer width="20%" borderRadius="5px" height="24px"></shimmer>
                    </p>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Suggested Value:</p>
                    <p class="text-normal">
                      <shimmer width="20%" borderRadius="5px" height="24px"></shimmer>
                    </p>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Date Needed By:</p>
                    <p class="text-normal">
                      <shimmer width="20%" borderRadius="5px" height="24px"></shimmer>
                    </p>
                  </div>
                  <div class="col-12 paddingBottom" *ngIf="!itemShare">
                    <p class="text-normal-strong">Ship To:</p>
                    <p class="text-normal">
                      <shimmer width="20%" borderRadius="5px" height="24px"></shimmer>
                    </p>
                    <p class="text-normal">
                      <shimmer width="20%" borderRadius="5px" height="24px"></shimmer>
                    </p>
                  </div>
                  <div class="col-12 paddingBottom">
                    <p class="text-normal-strong">Description:</p>
                    <div class="needDescription">
                      <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                      <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                      <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                      <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                      <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </div>
    </div>

    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
</div>



