<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-12 frontHeader">
      <app-menu></app-menu>
    </div>

    <div class="bg-white">
      <div class="container">
          <div class="row backToNeeds">
            <div class="col-12">
                <button class="buttonSmallTertiary" routerLink="/needs">
                  <div class="icon" [inlineSVG]="'./assets/images/icons/icon-arrow-left.svg'"></div>
                  BACK TO ALL NEEDS
                </button>
            </div>
            <div class="col-12">
              <div class="row needInfoRow">
                <div class="col-12 col-xl-6">
                  <ng-container *ngIf="item">
                    <div class="needInfoImage">
                      <img *ngIf="item.imageURL" [src]="frontUrl +  item.imageURL" alt="{{item.title}}">
                      <img *ngIf="!item.imageURL"  [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!item">
                    <div class="needInfoImage">
                      <img [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                    </div>
                  </ng-container>
                </div>
                <div class="col-12 col-xl-6">
                  <ng-container *ngIf="item">
                    <div class="needInfoText">
                      <p class="title-large">{{item.title}}</p>
                      <div class="location">
                        <div class="icon" [inlineSVG]="'./assets/images/icons/icon-location.svg'"></div>
                        <p class="text-normal">{{item.county}}</p>
                      </div>
                      <div class="priceInfo">
                        <p class="text-normal">SUGGESTED VALUE: {{item.price? "$ "+item.price: '-'}}</p>
                        <p class="text-normal">DATE NEEDED BY: {{ item.expiresAt? ( item.expiresAt * 1000 | date: 'M/d/y') : '-'}}</p>
                      </div>
                      <div class="needDescription">
                        <quill-view-html [content]="item.description" theme="snow"></quill-view-html>
                      </div>
                      <div class="needAction">
                        <ng-container *ngIf="item.status === 'listed'">
                          <button
                            class="buttonNormalPrimaryFilled"
                            (click)="meetThisNeed(item)"
                          >
                            Meet This Need
                          </button>
                          <a
                            *ngIf="item.campaignURL"
                            class="buttonNormalPrimaryNoFill"
                            href="{{item.campaignURL}}"
                            target="_blank"
                          >
                            Contribute Towards This Need
                          </a>
                        </ng-container>
                        <ng-container *ngIf="item.status !== 'listed'">
                          <button
                            class="buttonNormalDisabled"
                          >
                            This need has been claimed
                          </button>
                        </ng-container>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container *ngIf="!item">
                    <div class="needInfoText">
                      <div class="needInfoText">
                        <p class="title-large">
                          <shimmer width="50%" borderRadius="5px" height="40px"></shimmer>
                        </p>
                        <div class="location">
                          <shimmer width="100px" borderRadius="5px"></shimmer>
                        </div>
                        <div class="priceInfo">
                          <shimmer width="100px" borderRadius="5px"></shimmer>
                        </div>
                        <div class="needDescription">
                          <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                          <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                          <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                          <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                          <shimmer width="100%" borderRadius="5px" height="20px"></shimmer>
                        </div>
                        <div class="needAction">
                          <shimmer width="50%" borderRadius="5px"></shimmer>
                        </div>
                      </div>

                    </div>
                  </ng-container>
                </div>
              </div>
            </div>

          </div>
      </div>
    </div>
    <div class="bg-light" *ngIf="item && item.relatedNeeds && item.relatedNeeds.length > 0">
      <div class="container">
        <div class="row">
          <div class="col-12 slider" #container>
              <p class="title-normal">Interested to helping out this family with other needs?</p>
            <ng-container>
              <owl-carousel-o [options]="customOptions">
                  <ng-template  carouselSlide   *ngFor="let item of item.relatedNeeds;">
                    <div class="needCard"
                         [class.claimed]='item.status !== "listed"'
                         routerLink="/needs/{{item.id}}"
                         [routerLink]="item.status !== 'listed' ? [] : ['/needs/', item.id]"
                    >
                      <div class="claimed" *ngIf='item.status !== "listed"'>
                        <img  [src]="'./assets/images/icons/icon-claimed.svg'" alt="claimed need image">
                        <p>CLAIMED</p>
                      </div>
                      <div class="cardImage">
                        <img *ngIf="item.imageURL" [src]="frontUrl +  item.imageURL" alt="{{item.title}}">
                        <img *ngIf="!item.imageURL"  [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                      </div>
                      <div class="cardInfo">
                        <div class="time" *ngIf="(item.days || item.days === 0)">
                          <ng-container *ngIf="!(item.status !== 'listed')">
                            <span class="icon" [class.passed]="item.days > -1" [inlineSVG]="'./assets/images/icons/icon-time.svg'"></span>
                            <span class="passed" *ngIf="item.days === 1">1 day overdue</span>
                            <span class="passed" *ngIf="item.days > 1">{{item.days}} days overdue</span>
                            <span class="passed" *ngIf="item.days === 0">Needed today</span>
                            <span *ngIf="item.days === -1">Needed in 1 day</span>
                            <span *ngIf="item.days < -1">Needed in {{item.days * -1}} days </span>
                          </ng-container>

                        </div>
                        <div class="price">
                          <span [class.active]="item.price > 0" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                          <span [class.active]="item.price >= 50" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                          <span [class.active]="item.price >= 100" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                          <span [class.active]="item.price > 200" [inlineSVG]="'./assets/images/icons/icon-money.svg'"></span>
                        </div>

                      </div>
                      <div class="cardTitle">
                        <p class="text-normal" >{{item.title}}</p>
                      </div>
                    </div>
                  </ng-template>
                <ng-container *ngIf="emptySlider">
                  <ng-template   carouselSlide *ngFor="let i of [].constructor(emptySlider)"></ng-template>
                </ng-container>

              </owl-carousel-o>
            </ng-container>

          </div>
        </div>
      </div>
    </div>
    <div class="bg-white">
      <div class="container ">
        <div class="row section video needDetail">
          <div class="col-12">
            <div class="bg-gray">
              <div class="row">
                <div class="col-12 col-lg-6 section stats">

                  <div class="title">
                    <div class="position-relative">
                      <h2 class="title-medium paddingBottom">
                        How it Works
                      </h2>
                      <div class="dots-picture single">
                        <span class="dot dot--1"></span>
                        <span class="dot dot--2"></span>
                        <span class="dot dot--3"></span>
                        <span class="dot dot--4"></span>
                        <span class="dot dot--5"></span>
                        <span class="dot dot--6"></span>
                      </div>
                    </div>
                  </div>



                  <ol class="paddingBottom listOl">
                    <li class="text-normal-source">Browse available needs.</li>
                    <li class="text-normal-source">Choose from the list of immediate needs.</li>
                    <li class="text-normal-source">Purchase the item identified in the need profile.</li>
                    <li class="text-normal-source">Ship the item to the address provided.</li>
                  </ol>

                  <p class="text-normal-source">Have more questions?
                      <a href="mailto:carenow@cfknc.org" target="_blank">Drop us a note.</a>
                  </p>
                </div>
                <div class="col-12 col-lg-6">
                  <picture (click)="presentationVideo()" class="pointer">
                    <source media="(min-width:650px)"
                            srcset="
                            ./assets/images/homepage/video.png 1x,
                            ./assets/images/homepage/video@2x.png 2x,
                            ./assets/images/homepage/video@3x.png 3x
                          "
                    >
                    <source media="(min-width:465px)"
                            srcset="
                            ./assets/images/homepage/video.png 1x,
                            ./assets/images/homepage/video@2x.png 2x,
                            ./assets/images/homepage/video@3x.png 3x
                          "
                    >
                    <img src="./assets/images/homepage/video.png" alt="Flowers">
                  </picture>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
</div>



