$btn-primary-color: white !default;
$primary: block !default;

html, body {
 font-family: $font-family-base;
}

body.modal-open {
  overflow: hidden;
}
h1, h2, h3, h4, h5, h6 {
  line-height: 120%;
  margin-bottom: 0;
}

h1 {
  font-size: 65px;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 52px;
  }
  @media screen and (max-width: 767px) {
    font-size: 33px;
  }
}

h2 {
  font-size: 52px;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 33px;
  }
  @media screen and (max-width: 767px) {
    font-size: 24px;
  }
}

h3 {
  font-size: 33px;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 24px;
    font-weight: 500;
  }
  @media screen and (max-width: 767px) {
    font-size: 20px;
    font-weight: 500;
  }
}

h4 {
  font-size: 24px;
  font-weight: 500;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 20px;
    font-weight: 500;
  }
  @media screen and (max-width: 767px) {
    font-size: 18px;
  }
}

h5 {
  font-size: 20px;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 18px;
  }
  @media screen and (max-width: 767px) {
    font-size: 16px;
  }
}


h6 {
  font-size: 18px;
  @media screen and (max-width: 1024px) and (min-width: 767px) {
    font-size: 16px;
  }
  @media screen and (max-width: 767px) {
    font-size: 14px;
  }
}

.btn-primary {
  color: $btn-primary-color;
  &:hover, &:focus {
    color: $btn-primary-color;
  }
}


.my-overlay {
  left: 0 !important;
  top: 0 !important;
  z-index: 10000 !important;
  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  background-color: rgba(0,0,0,0.5) !important;
  visibility: visible !important;
  transition: visibility 0s, opacity 0.4s linear !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: wait !important;
  color: $primary;
}
.my-overlay .fa-spinner {
  width: 5rem;
  height: 5rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: $info;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  .btn-link {
    font-weight: 400;
    color: var(--bs-body-color);
    text-decoration: none;
    padding: 0;
  }

}
.card-body {
  position: relative;

  .loadingCardBody {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: $card-body-loading-bg;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
.card-header {
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.acctions {
  display: flex;
  gap: 12px;
}
.actionsList {
  a {
    margin-right: 12px;
  }
}
.pointer {
  cursor: pointer;
}
label.headerText {
  display: flex;
  justify-content: space-between;
}

.cardBodyTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  titleText {
    color: $primary;
    margin-right: 10px;
  }

  hr {
    color: $primary;
    flex-grow: 1;
  }
}

.cropImageModal {
  img {
    width: 100%;
  }
}

.form-group {
  label {
    margin-bottom: 0.5rem;
  }
}
.ng-select .ng-select-container {
  min-height: 48px;

  .ng-value-container {
    .ng-input {
      & > input{
        margin-top: 6px;
      }
      top: 11px;
    }
  }

}

.itemsCenter {
  display: flex;
  align-items: center;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

ng-select.ng-invalid {
  .ng-select-container {
    border-color: $danger;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23EE4D6A'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EE4D6A' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked,
.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
  background-color: $info;
}
quill-editor.ng-invalid {
  .ql-container {
    border-color: $danger;
    border-top:1px solid $danger!important;
    padding-right: calc(1.5em + 0.75rem);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23EE4D6A'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23EE4D6A' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
  }
}

.btn-check:focus + .btn-primary,
.btn-primary:focus,
.btn-primary:active:focus {
  color: initial;
  background-color: initial;
  border-color: transparent;
  box-shadow: none;
}

.bg-gray {
  background-color: $dropdown-bg;
}

mark {
  background-color: $tertiary;
}
.color-white {
  color: white;
}

button {
  outline: none;
}
.paddingBottom {
  padding-bottom: 32px;
}


@media screen and (max-width: 992px) {
    .hideSmallScreen {
      display: none;
    }
}

@media screen and (min-width: 992px) {
  .showSmallScreen {
    display: none;
  }
}
.container {
  @media screen and (max-width: 992px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.form-control {
  min-height: 48px;
  padding-right: calc(1.5em + 0.75rem);
}
