
.text-large {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 156%;
  color: $txt-color-default;
}

.text-xsmall {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 140%;
  letter-spacing: 0.02em;
  color: $txt-color-default;
}


.text-normal {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $txt-color-default;
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.text-small {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: $txt-color-default;
}



.text-small-strong {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: $txt-color-default;
}


.text-normal-strong {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }

}

.text-normal-source {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.text-normal-source-strong {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  color: $txt-color-default;
}

.text-small-source {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: $txt-color-default;
}


.btn-text-small {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.01em;
  color: $txt-color-default;
}

.input-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: $txt-color-default;
}

.NAV-button-text {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: $txt-color-default;
}

.nav-category-text {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: $txt-color-default;
}

.btn-text-normal {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  color: $txt-color-default;
}

.title-xlarge {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 65px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-size: 33px;
  }

}

.title-large {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 52px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-size: 24px;
  }
}

.title-medium {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 33px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-size: 20px;
  }

}

.title-normal {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: -0.01em;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
  }

}


.title-small {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: $txt-color-default;
}


.title-xsmall {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: $txt-color-default;

  @media screen and (max-width: 992px) {
    padding: 14px;
  }
}



.label-text {
  font-family: $font-family-base;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 120%;
  letter-spacing: 0.01em;
  color: #FFFFFF;
}
