@mixin btn-text-large {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 42px;
  border: none;
  cursor: pointer;
}

@mixin btn-text-normal  {
  display: block;
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 170%;
  text-align: center;
  color: #FFFFFF;
  padding: 12px 48px;
  border: none;
  cursor: pointer;
}

@mixin btn-text {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%;
  text-align: center;
  color: $dark;
  border: none;
  cursor: pointer;
}

@mixin btn-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}


.buttonLargePrimaryFilled {
  @include btn-text-large();
  @include btn-radius();
  background: $primary;
  &:hover {
    opacity: 0.75;
  }
}

.buttonLargeSecondaryFilled {
  @include btn-text-large();
  @include btn-radius();

  @media screen and (max-width: 992px) {
    @include btn-text-normal();
  }
  background: $secondary;
  &:hover {
    opacity: 0.75;
  }
}


.buttonNormalPrimaryFilled {
  @include btn-text-normal();
  @include btn-radius();
  background: $primary;
  &:hover {
    opacity: 0.75;
  }
}
a.buttonNormalPrimaryFilled {
  text-decoration: none;
  &:hover {
    color:white;
  }
}

.buttonNormalSecondaryFilled {
  @include btn-text-normal();
  @include btn-radius();
  background: $secondary;
  &:hover {
    opacity: 0.75;
  }
}
.buttonSmallTertiary {
  @include btn-text();
  background: transparent;
  &:hover {
    color: $primary;
    svg {
      path {
        fill: $primary;
      }
    }
  }
  svg {
    path {
      fill: $dark;
    }
  }
}

.buttonNormalDisabled{
  @include btn-text-normal();
  @include btn-radius();
  background: $dropdown-bg;
  color: $input-placeholder-color;
  &:hover {
    opacity: 0.75;
  }
}

.buttonNavbar {
  @include btn-radius();
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.01em;
  color: $flatDancer;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  background: white;
  text-decoration: none;
  &:hover {
    color: $secondary;
    opacity: 0.75;
  }
}

.buttonNormalPrimaryNoFill {
  @include btn-text-normal();
  @include btn-radius();
  background: transparent;
  border: 1px solid #FFFFFF;
  &:hover {
    border: 1px solid #FFFFFF;
    background-color: white;
    color: $primary;
  }
}

.buttonMenu {
  font-family: $headings-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: #2D2D2D;
  span {
    border-bottom: 1px solid transparent;
  }

  &:hover, &:active {
    color: $primary;
    background-color: initial;
    span {
      border-color: $primary;
    }

  }

}
