$headings-font-family: 'Montserrat', sans-serif;
$font-family-base: 'Source Sans Pro', sans-serif;

$primary: #4CC1B9;
$secondary: #EE4D6A;
$tertiary: #F9E853;
$admin_background: white;

$success: #3EAEA5;
$danger: #EE4D6A;
$flatDancer: #DF2748;
$warning: #EDA948;
$info: #92D9EA;

$light: #F7F7F7;
$dark: #2D2D2D;

$txt-color-default: #000000;

$btn-primary-color: white;
$btn-border-radius: 4px;
$btn-menu-hover-color: #15B1A7;
$btn-menu-active-color: #0B978D;
$btn-font-family: $headings-font-family;
$btn-font-size: 24px;
$btn-padding-x: 48px;
$btn-padding-y: 12px;

$card-bg: #FAFAFA;
$input-placeholder-color: #AFAFAF;
$card-body-loading-bg: rgba(0,0,0,0.06);

$modal-md:                          576px;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1600px
);

//** START DROPDOWN */
$dropdown-min-width:                377px;
$dropdown-padding-x:                32px;
$dropdown-padding-y:                18px;
//$dropdown-spacer:                   .125rem;
$dropdown-font-size:                16px;
$dropdown-color:                    $dark;
$dropdown-bg:                       #ECECEC;
//$dropdown-border-color:             rgba($black, .15);
$dropdown-border-radius:            0;
$dropdown-border-width:             0;
$dropdown-inner-border-radius:      subtract(0, 0);
$dropdown-divider-bg:               $primary;
//$dropdown-divider-margin-y:         $spacer * .5;
$dropdown-box-shadow:               0px 6px 6px rgba(0, 0, 0, 0.05);
//
$btn-link-color:              $txt-color-default;
$btn-link-hover-color:        $primary;
$btn-link-disabled-color:     $input-placeholder-color;
//
$dropdown-link-active-color:        $primary;
//$dropdown-link-active-bg:           $component-active-bg;
//
//$dropdown-link-disabled-color:      $gray-500;
//
$dropdown-item-padding-y:           4px;
//$dropdown-item-padding-x:           $spacer;
//
$dropdown-header-color:             $primary;
$dropdown-header-padding:           12px 0;

/** END DROPDOWN */

