<div class="container-fluid needsAddOrEdit">
  <div class="row">
    <div class="col-12">
      <div class="card mt-3 mb-3">
        <div class="card-header bg-info pointer-event">
          <div class="title pointer">
            <h5>Need</h5>
          </div>
          <div class="acctions">
            <button class="btn btn-primary btn-sm" type="button" (click)="save()">
              Save changes
            </button>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="form" autocomplete="off">
            <div class="loadingCardBody" *ngIf="loading">
              <div class="spinner-border text-info" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>

            <div title="Need Details" class="row">
              <div class="col-12">
                <div class="cardBodyTitle">
                  <p class="titleText">Need Details</p>
                  <hr>
                </div>
              </div>
              <div class="col-8">
                <div class="row">
                  <div title="title" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="title">Title*:</label>
                      <input
                        formControlName="title"
                        class="form-control"
                        type="text"
                        name="title"
                        id="title"
                        [class.is-invalid]="f['title'].invalid && f['title'].touched"
                      >
                    </div>
                  </div>
                  <div title="Status" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="status">Status*:</label>
                      <ng-select
                        [clearable]="false"
                        [items]="status$ | async"
                        bindLabel="name"
                        bindValue="id"
                        id="status"
                        formControlName="status"
                        placeholder="Status..."
                        [class.ng-invalid]="f['status'].invalid && f['status'].touched"
                      >
                      </ng-select>
                    </div>
                  </div>
                  <div title="expiresAt" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="expiresAt">Due Date*:</label>
                      <input type="text"
                             id="expiresAt"
                             class="form-control"
                             formControlName="expiresAt"
                             [bsConfig]="bsConfigDay"
                             bsDatepicker
                             [class.is-invalid]="f['expiresAt'].invalid && f['expiresAt'].touched"
                      >
                    </div>
                  </div>
                  <div title="Price" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="Price">Price:</label>
                      <input
                        formControlName="price"
                        class="form-control"
                        type="number"
                        name="Price"
                        id="Price"
                      >
                    </div>
                  </div>
                  <div title="description" class="col-12 mt-3">
                    <div class="form-group">
                      <label for="expiresAt">Description*:</label>
                      <quill-editor
                        class="d-block bg-white"
                        formControlName="description"
                        [modules]="quillConfigDefault.modules"
                        [theme]="quillConfigDefault.theme"
                        [scrollingContainer]="quillConfigDefault.scrollingContainer"
                        [class.ng-invalid]="f['description'].invalid && f['description'].touched"
                      >
                      </quill-editor>
                    </div>

                  </div>
                </div>

              </div>
              <div class="col-4">
                <div title="Campaign URL" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="campaignURL">Campaign URL:</label>
                    <input
                      formControlName="campaignURL"
                      class="form-control"
                      type="text"
                      name="campaignURL"
                      id="campaignURL"
                    >
                  </div>
                </div>
                <div title="Donated value" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="donatedValue">Donated value:</label>
                    <input
                      formControlName="donatedValue"
                      class="form-control"
                      type="number"
                      name="donatedValue"
                      id="donatedValue"
                    >
                  </div>
                </div>
                <div title="Image" class="col-12 mt-3">
                  <div id="imagine sectiune" class="col-12">
                    <div class="row rowSingleImage">
                      <div class="col-12">
                        <div class="form-group images">
                          <label>Add Image:</label>
                          <input
                            style="display: none;"
                            class="form-control"
                            formControlName="imageURL"
                            type="file"
                            (change)="handleFileCrop($event)"
                            #headerImage
                          >
                          <button class="btn btn-primary btn-sm" (click)="headerImage.click()">
                            <fa-icon [icon]="'plus-circle'"></fa-icon>
                            <span>Add</span>
                          </button>
                        </div>
                      </div>
                      <div class="col-12 mt-3">
                        <div class="imageCard" *ngIf="imageUpload">
                          <div class="insideCard">
                            <img class="image" [src]="imageUpload.base64" alt="default image">
                            <div class="removeImage" (click)="removeDefaultImage()">
                              <fa-icon [icon]="'trash'"></fa-icon>
                            </div>
                          </div>
                        </div>
                        <div class="imageCard pointer" *ngIf="!imageUpload" (click)="headerImage.click()">
                          <div class="insideCard">
                            <img class="image" src="../../../../../assets/images/admin-img-placeholder.png" alt="default image">
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div title="Request Details" class="row mt-3">
              <div class="col-12">
                <div class="cardBodyTitle">
                  <p class="titleText">Request Details</p>
                  <hr>
                </div>
              </div>
              <div class="col-8">
                <div class="row">
                  <div title="Social worker’s name" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="socialWorkerName">Social worker’s name:</label>
                      <input
                        formControlName="socialWorkerName"
                        class="form-control"
                        type="text"
                        name="socialWorkerName"
                        id="socialWorkerName"
                      >
                    </div>
                  </div>
                  <div title="Family Name" class="col-6 mt-3">
                    <div class="form-group">
                      <div class="form-group">
                        <label for="familyName">Family Name:</label>
                        <input
                          formControlName="familyName"
                          class="form-control"
                          type="text"
                          name="familyName"
                          id="familyName"
                        >
                      </div>
                    </div>
                  </div>
                  <div title="Social worker’s phone" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="socialWorkerPhone">Social worker’s phone:</label>
                      <input
                        formControlName="socialWorkerPhone"
                        class="form-control"
                        type="phone"
                        name="socialWorkerPhone"
                        id="socialWorkerPhone"
                      >
                    </div>
                  </div>
                  <div title="County" class="col-6 mt-3">
                    <div class="form-group">
                      <label class="form-label" for="County">County*:</label>
                      <div class="input-group">
                        <ng-select
                          [clearable]="false"
                          [items]="counties$ | async"
                          id="County"
                          [loading]="countiesLoading"
                          formControlName="county"
                          placeholder="Counties..."
                          addTagText="Create New"
                          [addTag]="true"
                          [class.ng-invalid]="f['county'].invalid && f['county'].touched"
                        >
                        </ng-select>
                        <span class="input-group-text pointer" (click)="setDefaultCounty()" id="basic-addon1">Autofill DSS County</span>
                      </div>

                    </div>
                  </div>
                  <div title="Social worker’s email" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="socialWorkerEmail">Social worker’s email:</label>
                      <input
                        formControlName="socialWorkerEmail"
                        class="form-control"
                        type="email"
                        name="socialWorkerEmail"
                        id="socialWorkerEmail"
                      >
                    </div>
                  </div>
                  <div title="Delivery Address" class="col-6 mt-3">
                    <label class="form-label" for="deliveryAddress">Delivery Address*:</label>
                    <div class="input-group">
                      <input
                        type="text"
                        class="form-control"
                        formControlName="deliveryAddress"
                        name="deliveryAddress"
                        id="deliveryAddress"
                        [class.is-invalid]="f['expiresAt'].invalid && f['expiresAt'].touched"
                      >
                      <span class="input-group-text pointer" (click)="setDeliveryAddress()" id="basic-addon2">Autofill DSS Address</span>
                    </div>
                  </div>
                  <div title="Supervisor’s name" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="supervisorName">Supervisor’s name:</label>
                      <input
                        formControlName="supervisorName"
                        class="form-control"
                        type="text"
                        name="supervisorName"
                        id="supervisorName"
                      >
                    </div>
                  </div>
                  <div title="Requested to date" class="col-6 mt-3">
                    <div class="form-group">
                      <label for="requestedAt">Requested to date:</label>
                      <input type="text"
                             id="requestedAt"
                             class="form-control"
                             formControlName="requestedAt"
                             [bsConfig]="bsConfigDay"
                             bsDatepicker
                      >
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div title="Request type" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="requestType">Request type:</label>
                    <ng-select
                      [clearable]="false"
                      [items]="needType$ | async"
                      bindLabel="name"
                      bindValue="id"
                      id="requestType"
                      formControlName="requestType"
                      placeholder="Request Type..."
                    >
                    </ng-select>
                  </div>
                </div>
                <div title="Item type" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="itemType">Item type:</label>
                    <ng-select
                      [clearable]="false"
                      [items]="itemType$ | async"
                      bindLabel="name"
                      bindValue="id"
                      id="itemType"
                      formControlName="itemType"
                      placeholder="Item Type..."
                    >
                    </ng-select>
                  </div>
                </div>
                <div title="Gender" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="gender">Gender:</label>
                    <ng-select
                      [multiple]="true"
                      [clearable]="false"
                      [items]="gender$ | async"
                      bindLabel="name"
                      bindValue="id"
                      id="gender"
                      formControlName="gender"
                      placeholder="Gender..."
                    >
                    </ng-select>
                  </div>
                </div>
                <div title="Age range" class="col-12 mt-3">
                  <div class="form-group">
                    <label for="ageRange">Age range:</label>
                    <ng-select
                      [multiple]="true"
                      [clearable]="false"
                      [items]="ageRange$ | async"
                      bindLabel="name"
                      bindValue="id"
                      id="ageRange"
                      formControlName="ageRange"
                      placeholder="Age range..."
                    >
                    </ng-select>
                  </div>
                </div>

              </div>
              <div class="col-12">
                <div class="row">
                  <div title="Requested Items" class="col-12 mt-3">
                    <div class="form-group">
                      <label for="itemsRequested">Requested Items:</label>
                      <textarea
                        id="itemsRequested"
                        class="form-control"
                        formControlName="itemsRequested"
                        rows="3"
                      >
                    </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div title="Champion Details" class="row mt-3">
              <div class="col-12">
                <div class="cardBodyTitle">
                  <p class="titleText">Champion Details</p>
                  <hr>
                </div>
              </div>
              <div class="col-12" formGroupName="champion">
                <div class="row">
                  <div class="col-8">
                    <div class="row">
                      <div title="First name" class="col-4 mt-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="firstName">First name:</label>
                            <input
                              formControlName="firstName"
                              class="form-control"
                              type="text"
                              name="firstName"
                              id="firstName"
                            >
                          </div>
                        </div>
                      </div>
                      <div title="Last name" class="col-4 mt-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="lastName">Last name:</label>
                            <input
                              formControlName="lastName"
                              class="form-control"
                              type="text"
                              name="lastName"
                              id="lastName"
                            >
                          </div>
                        </div>
                      </div>
                      <div title="Phone Number" class="col-4 mt-3">
                        <div class="form-group">
                          <div class="form-group">
                            <label for="phoneNumber">Phone Number:</label>
                            <input
                              formControlName="phoneNumber"
                              class="form-control"
                              type="text"
                              name="phoneNumber"
                              id="phoneNumber"
                            >
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-4">
                    <div title="Email" class="col-12 mt-3">
                      <div class="form-group">
                        <div class="form-group">
                          <label for="email">Email:</label>
                          <input
                            formControlName="email"
                            class="form-control"
                            type="email"
                            name="email"
                            id="email"
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div title="Items ordered" class="col-12 mt-3">
                    <div class="form-group">
                      <label for="itemsOrdered">Items Ordered:</label>
                      <textarea
                        id="itemsOrdered"
                        class="form-control"
                        formControlName="itemsOrdered"
                        rows="3"
                      >
                    </textarea>
                    </div>
                  </div>
                  <div title="Deliver details" class="col-12 mt-3">
                    <div class="form-group">
                      <label for="deliverDetails">Deliver Details:</label>
                      <textarea
                        id="deliverDetails"
                        class="form-control"
                        formControlName="deliverDetails"
                        rows="3"
                      >
                    </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div title="Other Notes" class="row mt-3">
              <div class="col-12">
                <div class="cardBodyTitle">
                  <p class="titleText">Other Notes</p>
                  <hr>
                </div>
              </div>
              <div class="col-8">
                <div class="row">
                  <div title="Receiver name" class="col-6 mt-3">
                    <div class="form-group">
                        <label for="receiverName">Receiver Name:</label>
                        <input
                          formControlName="receiverName"
                          class="form-control"
                          type="text"
                          name="receiverName"
                          id="receiverName"
                        >
                      </div>
                  </div>
                  <div title="Pickup name" class="col-6 mt-3">
                    <div class="form-group">
                        <label for="pickupName">Pickup Name:</label>
                        <input
                          formControlName="pickupName"
                          class="form-control"
                          type="text"
                          name="pickupName"
                          id="pickupName"
                        >
                      </div>
                  </div>

                </div>
              </div>
              <div class="col-4">
                <div title="Thank You Sent" class="col-12 mt-3">
                  <div class="form-check form-switch">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      formControlName="thankYouSent"
                      name="thankYouSent"
                      id="thankYouSent"
                    >
                    <label
                      class="form-check-label"
                      for="thankYouSent"
                    >
                      Thank You Sent
                    </label>
                  </div>
                </div>
              </div>
              <div class="col-12">
                <div class="row">
                  <div title="Notes" class="col-12 mt-3">
                    <div class="form-group">
                      <label for="notes">Notes:</label>
                      <textarea
                        id="notes"
                        class="form-control"
                        formControlName="notes"
                        rows="3"
                      >
                    </textarea>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-primary btn-sm" type="button" (click)="save()">
            Save changes
          </button>
        </div>
      </div>

    </div>
  </div>
</div>
