<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-start">
    <mat-form-field class="w-75" appearance="outline">
    <mat-label>Search</mat-label>
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Keyword">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button class="button button-dark" routerLink="/testimonials/add">Add new testimonials</button>
  </div>

  <div class="table-responsive" >
    <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="source">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Source</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.source}}</td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.name}}</td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.location}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.title}}</td>
      </ng-container>

      <ng-container matColumnDef="company">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Company</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.company}}</td>
      </ng-container>

      <ng-container matColumnDef="rank">
        <th mat-header-cell *matHeaderCellDef mat-sort-header class="mx-2">Rank</th>
        <td mat-cell *matCellDef="let testimonial" class="mx-2">{{testimonial.rank}}</td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let testimonial">{{testimonial.updatedAt * 1000 | date: 'dd MMM y'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let testimonial">
          <a [routerLink]="'/testimonials/'+ testimonial.id+'/edit'">
            <mat-icon class="material-icons-outlined">
              edit
            </mat-icon>
          </a>
          <a (click)="onDelete(testimonial.id)" style="cursor: pointer;">
            <span class="material-icons-outlined text-danger">
              delete
            </span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <div *ngIf="isLoading" 
      style="display: flex; justify-content: center; align-items: center; background: white;">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
  <mat-paginator 
    #paginator 
    [length]="dataSource.data.length" 
    [pageSize]="pageSize" 
    [pageSizeOptions]="pageSizeOptions" 
    (page)="onPageChange($event)"
    showFirstLastButtons  
  >
  </mat-paginator>
</div>
