.claimNeed {
  position: relative;
  padding: 32px;

  .close {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
  }

  .label-text {
    color: $dark;
  }
  .form-group, .form-check {
    margin-top: 32px;
  }
  button {
    margin-top: 32px;
  }
}
