
.dots-hero {
  top: calc(-20% + 82px);
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate(0, 20%);

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.dots-hero .dot:nth-child(1) {
  top: 14%;
  left: 5%;
  transition: 12s cubic-bezier(0.4, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(2) {
  top: 16%;
  left: 2%;
  transition: 14s cubic-bezier(0.7, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(3) {
  top: 73%;
  left: 24%;
  transition: 9s cubic-bezier(0.59, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(4) {
  top: 18%;
  left: 6%;
  transition: 15s cubic-bezier(0.88, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(5) {
  top: 53%;
  left: 1%;
  transition: 17s cubic-bezier(0.93, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(6) {
  top: 34%;
  left: 6%;
  transition: 15s cubic-bezier(0.47, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(7) {
  top: 71%;
  left: 7%;
  transition: 12s cubic-bezier(0.84, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(8) {
  top: 73%;
  left: 24%;
  transition: 17s cubic-bezier(0.67, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(9) {
  top: 79%;
  left: 19%;
  transition: 13s cubic-bezier(0.15, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(10) {
  top: 45%;
  left: 6%;
  transition: 10s cubic-bezier(0.83, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(11) {
  top: 44%;
  left: 16%;
  transition: 14s cubic-bezier(0.17, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(12) {
  top: 80%;
  left: 7%;
  transition: 17s cubic-bezier(0.53, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(13) {
  top: 37%;
  left: 4%;
  transition: 18s cubic-bezier(0.39, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(14) {
  top: 63%;
  left: 24%;
  transition: 14s cubic-bezier(0.93, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(15) {
  top: 65%;
  left: 19%;
  transition: 13s cubic-bezier(0.78, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(16) {
  top: 76%;
  left: 11%;
  transition: 8s cubic-bezier(0.81, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(17) {
  top: 33%;
  left: 9%;
  transition: 13s cubic-bezier(0.48, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(18) {
  top: 26%;
  left: 11%;
  transition: 7s cubic-bezier(0.93, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(19) {
  top: 65%;
  left: 27%;
  transition: 7s cubic-bezier(0.71, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(20) {
  top: 23%;
  left: 3%;
  transition: 12s cubic-bezier(0.65, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(21) {
  top: 4%;
  left: 1%;
  transition: 17s cubic-bezier(0.67, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(22) {
  top: 61%;
  left: 21%;
  transition: 14s cubic-bezier(0.48, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(23) {
  top: 42%;
  left: 5%;
  transition: 16s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(24) {
  top: 52%;
  left: 15%;
  transition: 16s cubic-bezier(0.7, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(25) {
  top: 56%;
  left: 14%;
  transition: 17s cubic-bezier(0.31, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(26) {
  top: 53%;
  left: 4%;
  transition: 13s cubic-bezier(0.93, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(27) {
  top: 94%;
  left: 2%;
  transition: 10s cubic-bezier(0.38, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(28) {
  top: 50%;
  left: 5%;
  transition: 9s cubic-bezier(0.41, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(29) {
  top: 52%;
  left: 17%;
  transition: 9s cubic-bezier(0.85, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(30) {
  top: 22%;
  left: 2%;
  transition: 13s cubic-bezier(1, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(31) {
  top: 63%;
  left: 3%;
  transition: 10s cubic-bezier(0.71, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(32) {
  top: 60%;
  left: 16%;
  transition: 16s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(33) {
  top: 67%;
  left: 8%;
  transition: 14s cubic-bezier(0.81, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(34) {
  top: 56%;
  left: 13%;
  transition: 11s cubic-bezier(0.47, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(35) {
  top: 54%;
  left: 9%;
  transition: 17s cubic-bezier(0.96, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(36) {
  top: 24%;
  left: 11%;
  transition: 14s cubic-bezier(0.13, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(37) {
  top: 59%;
  left: 20%;
  transition: 11s cubic-bezier(0.62, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(38) {
  top: 16%;
  left: 2%;
  transition: 12s cubic-bezier(0.67, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(39) {
  top: 16%;
  left: 2%;
  transition: 11s cubic-bezier(0.44, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(40) {
  top: 72%;
  right: 36%;
  left: initial;
  transition: 11s cubic-bezier(0.21, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(41) {
  top: 78%;
  right: 14%;
  left: initial;
  transition: 18s cubic-bezier(0.77, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(42) {
  top: 85%;
  right: 7%;
  left: initial;
  transition: 9s cubic-bezier(0.64, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(43) {
  top: 17%;
  right: 5%;
  left: initial;
  transition: 15s cubic-bezier(0.38, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(44) {
  top: 46%;
  right: 20%;
  left: initial;
  transition: 16s cubic-bezier(0.11, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(45) {
  top: 96%;
  right: 4%;
  left: initial;
  transition: 8s cubic-bezier(0.82, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(46) {
  top: 90%;
  right: 3%;
  left: initial;
  transition: 10s cubic-bezier(0.99, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(47) {
  top: 95%;
  right: 40%;
  left: initial;
  transition: 14s cubic-bezier(0.73, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(48) {
  top: 81%;
  right: 14%;
  left: initial;
  transition: 11s cubic-bezier(0.14, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(49) {
  top: 14%;
  right: 6%;
  left: initial;
  transition: 14s cubic-bezier(0.82, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(50) {
  top: 8%;
  right: 2%;
  left: initial;
  transition: 10s cubic-bezier(0.16, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(51) {
  top: 12%;
  right: 6%;
  left: initial;
  transition: 18s cubic-bezier(0.4, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(52) {
  top: 36%;
  right: 12%;
  left: initial;
  transition: 16s cubic-bezier(0.23, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(53) {
  top: 71%;
  right: 2%;
  left: initial;
  transition: 8s cubic-bezier(0.58, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(54) {
  top: 53%;
  right: 14%;
  left: initial;
  transition: 12s cubic-bezier(0.15, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(55) {
  top: 100%;
  right: 21%;
  left: initial;
  transition: 14s cubic-bezier(0.46, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(56) {
  top: 42%;
  right: 14%;
  left: initial;
  transition: 11s cubic-bezier(0.78, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(57) {
  top: 78%;
  right: 31%;
  left: initial;
  transition: 9s cubic-bezier(0.62, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(58) {
  top: 89%;
  right: 39%;
  left: initial;
  transition: 17s cubic-bezier(0.45, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(59) {
  top: 45%;
  right: 4%;
  left: initial;
  transition: 11s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(60) {
  top: 39%;
  right: 6%;
  left: initial;
  transition: 16s cubic-bezier(0.59, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(61) {
  top: 66%;
  right: 14%;
  left: initial;
  transition: 10s cubic-bezier(0.77, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(62) {
  top: 41%;
  right: 1%;
  left: initial;
  transition: 14s cubic-bezier(0.66, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(63) {
  top: 47%;
  right: 19%;
  left: initial;
  transition: 17s cubic-bezier(0.96, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(64) {
  top: 36%;
  right: 12%;
  left: initial;
  transition: 13s cubic-bezier(0.85, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(65) {
  top: 85%;
  right: 33%;
  left: initial;
  transition: 11s cubic-bezier(0.9, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(66) {
  top: 2%;
  right: 1%;
  left: initial;
  transition: 15s cubic-bezier(0.41, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(67) {
  top: 67%;
  right: 26%;
  left: initial;
  transition: 7s cubic-bezier(0.98, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(68) {
  top: 77%;
  right: 9%;
  left: initial;
  transition: 18s cubic-bezier(0.69, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(69) {
  top: 60%;
  right: 23%;
  left: initial;
  transition: 8s cubic-bezier(0.81, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(70) {
  top: 62%;
  right: 24%;
  left: initial;
  transition: 9s cubic-bezier(0.69, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(71) {
  top: 53%;
  right: 4%;
  left: initial;
  transition: 15s cubic-bezier(0.54, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(72) {
  top: 69%;
  right: 5%;
  left: initial;
  transition: 7s cubic-bezier(0.7, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(73) {
  top: 66%;
  right: 31%;
  left: initial;
  transition: 11s cubic-bezier(0.67, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(74) {
  top: 57%;
  right: 10%;
  left: initial;
  transition: 17s cubic-bezier(0.95, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(75) {
  top: 36%;
  right: 1%;
  left: initial;
  transition: 9s cubic-bezier(0.83, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(76) {
  top: 26%;
  right: 4%;
  left: initial;
  transition: 14s cubic-bezier(0.19, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(77) {
  top: 60%;
  right: 3%;
  left: initial;
  transition: 7s cubic-bezier(0.85, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(78) {
  top: 23%;
  right: 5%;
  left: initial;
  transition: 16s cubic-bezier(0.73, 0.98, 0.13, 0.98);
}

.dots-hero .dot:nth-child(79) {
  top: 16%;
  right: 8%;
  left: initial;
  transition: 13s cubic-bezier(0.44, 0.98, 0.13, 0.98);
}

.dot {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-position: center;
  background-repeat: no-repeat;
}

.dots-title {
  top: 50%;
  left: 50%;
  width: 170%;
  height: 250%;
  transform: translate(-50%, -50%);
}

@media (min-width: 640px) {
  .dot {
    width: 12px;
    height: 12px;
  }
}

@media (min-width: 768px) {
  .dot {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 1280px) {
  .dot {
    width: 18px;
    height: 18px;
  }
}

.dot--1 {
  background-image: url("../../images/dots/dot1.svg");
}

.dot--2 {
  background-image: url("../../images/dots/dot2.svg");
}

.dot--3 {
  background-image: url("../../images/dots/dot3.svg");
}

.dot--4 {
  background-image: url("../../images/dots/dot4.svg");
}

.dot--5 {
  background-image: url("../../images/dots/dot5.svg");
}

.dot--6 {
  background-image: url("../../images/dots/dot6.svg");
}


.dots-title {
  top: 50%;
  left: 50%;
  width: 170%;
  height: 250%;
  transform: translate(-50%, -50%);
}

.dots-title .dot:nth-child(1) {
  bottom: 25%;
  left: 10%;
}

.dots-title .dot:nth-child(2) {
  bottom: 8%;
  right: 16%;
}

.dots-title .dot:nth-child(3) {
  top: 18%;
  right: 25%;
}

.dots-title .dot:nth-child(4) {
  bottom: 18%;
  left: 0;
}

.dots-title .dot:nth-child(5) {
  top: 0;
  right: 7%;
}

.dots-title .dot:nth-child(6) {
  bottom: 0%;
  right: 17%;
}

.dots-title .dot:nth-child(7) {
  bottom: 9%;
  left: 18%;
}

.dots-title .dot:nth-child(8) {
  top: 20%;
  right: 10%;
}

.dots-title .dot:nth-child(9) {
  top: 1%;
  left: 5%;
}

.dots-title .dot:nth-child(10) {
  top: 7%;
  right: 17%;
}

.dots-title .dot:nth-child(11) {
  top: 40%;
  right: 0;
}

.dots-title .dot:nth-child(12) {
  top: 3%;
  left: 3%;
}


.dots-picture {
  position: absolute;
  top: -20px;
  left: -20px;
  z-index: 20;
  width: 52px;
  height: 52px;
}

@media (min-width: 640px) {
  .dots-picture {
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 768px) {
  .dots-picture {
    top: -30px;
    left: -30px;
    width: 92px;
    height: 92px;
    &.single {
      top: -70px;
      left: -44px;
    }
  }
}

@media (min-width: 1280px) {
  .dots-picture {
    width: 102px;
    height: 102px;
  }
}

.dots-picture .dot--1 {
  top: 0;
  right: 0;
}

.dots-picture .dot--2 {
  top: 60%;
  left: 70%;
}

.dots-picture .dot--3 {
  top: 0;
  left: 35%;
}

.dots-picture .dot--4 {
  top: 35%;
  left: 0;
}

.dots-picture .dot--5 {
  top: 45%;
  right: 45%;
}

.dots-picture .dot--6 {
  bottom: 0;
  left: 0;
}
.dots-cta-featured {
  top: 50%;
  left: 50%;
  width: 110%;
  height: 100%;
  transform: translate(-50%, -50%);

  @media screen and (max-width: 1200px) {
    display: none;
  }

}

.dots-cta-featured .dot:nth-child(1) {
  top: 17%;
  left: 12%;
  transition: 13s cubic-bezier(0.86, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(2) {
  top: 35%;
  left: 11%;
  transition: 17s cubic-bezier(0.52, 0.98, 0.13, 0.98);
  display: none;
}

.dots-cta-featured .dot:nth-child(3) {
  top: 42%;
  left: 1%;
  transition: 12s cubic-bezier(0.27, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(4) {
  top: 22%;
  left: 1%;
  transition: 9s cubic-bezier(0.57, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(5) {
  top: 26%;
  left: 2%;
  transition: 11s cubic-bezier(0.15, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(6) {
  top: 42%;
  left: 12%;
  transition: 8s cubic-bezier(0.78, 0.98, 0.13, 0.98);
  display: none;
}

.dots-cta-featured .dot:nth-child(7) {
  top: 8%;
  left: 10%;
  transition: 7s cubic-bezier(0.88, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(8) {
  top: 38%;
  left: 6%;
  transition: 8s cubic-bezier(0.29, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(9) {
  top: 15%;
  left: 12%;
  transition: 15s cubic-bezier(0.32, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(10) {
  top: 8%;
  left: 13%;
  transition: 10s cubic-bezier(0.96, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(11) {
  top: 34%;
  left: 1%;
  transition: 12s cubic-bezier(0.47, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(12) {
  top: 4%;
  left: 15%;
  transition: 12s cubic-bezier(0.42, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(13) {
  top: 48%;
  left: 4%;
  transition: 7s cubic-bezier(0.63, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(14) {
  top: 3%;
  left: 11%;
  transition: 16s cubic-bezier(0.92, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(15) {
  top: 32%;
  left: 3%;
  transition: 10s cubic-bezier(0.48, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(16) {
  top: 50%;
  left: 4%;
  transition: 16s cubic-bezier(0.8, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(17) {
  top: 18%;
  left: 11%;
  transition: 7s cubic-bezier(0.28, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(18) {
  top: 40%;
  left: 5%;
  transition: 16s cubic-bezier(0.14, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(19) {
  top: 37%;
  left: 1%;
  transition: 18s cubic-bezier(0.87, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(20) {
  top: 34%;
  right: 6%;
  left: initial;
  transition: 18s cubic-bezier(0.26, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(21) {
  top: 20%;
  right: 2%;
  left: initial;
  transition: 15s cubic-bezier(0.94, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(22) {
  top: 17%;
  right: 1%;
  left: initial;
  transition: 9s cubic-bezier(0.91, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(23) {
  top: 67%;
  right: 5%;
  left: initial;
  transition: 8s cubic-bezier(0.41, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(24) {
  top: 18%;
  right: 3%;
  left: initial;
  transition: 11s cubic-bezier(0.94, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(25) {
  top: 73%;
  right: 12%;
  left: initial;
  transition: 17s cubic-bezier(0.99, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(26) {
  top: 45%;
  right: 7%;
  left: initial;
  transition: 7s cubic-bezier(0.32, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(27) {
  top: 56%;
  right: 3%;
  left: initial;
  transition: 8s cubic-bezier(0.86, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(28) {
  top: 76%;
  right: 5%;
  left: initial;
  transition: 17s cubic-bezier(0.41, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(29) {
  top: 55%;
  right: 5%;
  left: initial;
  transition: 15s cubic-bezier(0.15, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(30) {
  top: 37%;
  right: 7%;
  left: initial;
  transition: 17s cubic-bezier(0.9, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(31) {
  top: 100%;
  right: 13%;
  left: initial;
  transition: 17s cubic-bezier(0.57, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(32) {
  top: 57%;
  right: 7%;
  left: initial;
  transition: 11s cubic-bezier(0.14, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(33) {
  top: 18%;
  right: 3%;
  left: initial;
  transition: 8s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(34) {
  top: 15%;
  right: 3%;
  left: initial;
  transition: 7s cubic-bezier(0.38, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(35) {
  top: 48%;
  right: 9%;
  left: initial;
  transition: 9s cubic-bezier(0.2, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(36) {
  top: 97%;
  right: 18%;
  left: initial;
  transition: 7s cubic-bezier(0.9, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(37) {
  top: 1%;
  right: 1%;
  left: initial;
  transition: 9s cubic-bezier(0.91, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(38) {
  top: 74%;
  right: 12%;
  left: initial;
  transition: 10s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(39) {
  top: 76%;
  right: 11%;
  left: initial;
  transition: 13s cubic-bezier(0.85, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(40) {
  top: 97%;
  right: 20%;
  left: initial;
  transition: 10s cubic-bezier(0.73, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(41) {
  top: 50%;
  right: 9%;
  left: initial;
  transition: 8s cubic-bezier(0.85, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(42) {
  top: 10%;
  right: 1%;
  left: initial;
  transition: 9s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(43) {
  top: 50%;
  right: 2%;
  left: initial;
  transition: 18s cubic-bezier(0.44, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(44) {
  top: 25%;
  right: 5%;
  left: initial;
  transition: 17s cubic-bezier(0.49, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(45) {
  top: 3%;
  right: 1%;
  left: initial;
  transition: 13s cubic-bezier(0.37, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(46) {
  top: 65%;
  right: 6%;
  left: initial;
  transition: 10s cubic-bezier(0.27, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(47) {
  top: 65%;
  right: 5%;
  left: initial;
  transition: 18s cubic-bezier(0.11, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(48) {
  top: 37%;
  right: 7%;
  left: initial;
  transition: 12s cubic-bezier(0.91, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(49) {
  top: 60%;
  right: 8%;
  left: initial;
  transition: 18s cubic-bezier(0.7, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(50) {
  top: 60%;
  right: 5%;
  left: initial;
  transition: 12s cubic-bezier(0.36, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(51) {
  top: 40%;
  right: 8%;
  left: initial;
  transition: 16s cubic-bezier(0.46, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(52) {
  top: 60%;
  right: 6%;
  left: initial;
  transition: 13s cubic-bezier(0.14, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(53) {
  top: 98%;
  right: 17%;
  left: initial;
  transition: 16s cubic-bezier(0.11, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(54) {
  top: 89%;
  right: 8%;
  left: initial;
  transition: 15s cubic-bezier(0.83, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(55) {
  top: 72%;
  right: 14%;
  left: initial;
  transition: 15s cubic-bezier(0.51, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(56) {
  top: 94%;
  right: 9%;
  left: initial;
  transition: 8s cubic-bezier(0.43, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(57) {
  top: 92%;
  right: 6%;
  left: initial;
  transition: 11s cubic-bezier(0.59, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(58) {
  top: 1%;
  right: 1%;
  left: initial;
  transition: 8s cubic-bezier(0.41, 0.98, 0.13, 0.98);
}

.dots-cta-featured .dot:nth-child(59) {
  top: 88%;
  right: 4%;
  left: initial;
  transition: 14s cubic-bezier(0.92, 0.98, 0.13, 0.98);
}

.dots-single {
  position: absolute;
  bottom: 0;
  left: -40px;
  z-index: 20;
  width: 52px;
  height: 52px;
}

@media (min-width: 640px) {
  .dots-single {
    width: 72px;
    height: 72px;
  }
}

@media (min-width: 768px) {
  .dots-single {
    bottom: 0;
    left: -40px;
    width: 92px;
    height: 92px;
  }
}

@media (min-width: 1280px) {
  .dots-single {
    width: 120px;
    height: 102px;
  }
}

.dots-single .dot--1 {
  bottom: 0;
  left: 30%;
}

.dots-single .dot--2 {
  top: 20%;
  right: 0;
}

.dots-single .dot--3 {
  top: 0;
  left: 35%;
}

.dots-single .dot--4 {
  top: 35%;
  left: 0;
}

.dots-single .dot--5 {
  top: 45%;
  right: 45%;
}

.dots-single .dot--6 {
  bottom: 10%;
  left: 0;
}
