.heroImage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(82px - 100vh);
  min-height: 650px;
  max-height: 776px;
  @include background-image("/assets/images/homepage/hero", 'png');
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  .heroText {
    text-align: center;
    z-index: 2;
    .title-xsmall {
      margin-bottom: 0;
      color: white;
      text-align: center;
    }

    .text-normal-source {
      max-width: 650px;
      margin: 0 auto;
    }

    .title-xlarge {
      margin-top: 24px;
      margin-bottom: 24px;
      color: white;
    }

    .title-xlarge, .text-normal-source {
      color: white;
    }
    button {
      color: white;
      margin-top: 48px;
    }
  }
}
