$feature-card-need-width: 370px;

.needsFeatureCards {
  display: flex;
  gap: 24px;
  flex-direction: row;
  justify-content: space-around;

  @media screen and (max-width: 992px) {
    flex-wrap: wrap;
    gap: 24px;
  }
  .needFeatureCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    max-width: $feature-card-need-width;
    padding: 32px;
    border: 1px solid #ECECEC;
    box-sizing: border-box;
    border-radius: 4px;
    z-index: 2;
    flex: 0 0 auto;
    width: 33.33333333%;
    @media screen and (max-width: 1600px) {
      padding: 12px;
    }
    @media screen and (max-width: 992px) {
      width: 100%;
    }
  }
}

.cardImage {
  margin-bottom: 16px;
  img {
    width: 100%;
  }
}
.cardTitle {
  flex-grow: 1;
}
.cardAction {
  text-align: center;
}
p {
  margin-bottom: 0;
}

.max-w-card {
  max-width: $feature-card-need-width;
}
.rowFeatureNeeds {
  &.hero{
    transform: translateY(-3rem);
    @media screen and (max-width: 1200px) {
      flex-direction: column-reverse;
    }

    @media screen and (max-width: 992px) {
      flex-direction: column-reverse;
    }
  }

  &.bottom {
    padding-top: 120px;
    padding-bottom: 120px;

    @media screen and (max-width: 1200px) {
      flex-direction: column;
    }

    .featureNeeds {
      @media screen and (max-width: 1200px) {
        margin-bottom: 24px;
      }

      .title-large {
        @media screen and (max-width: 1200px) {
          display: block;
          padding-top: 24px;
        }
      }
    }

    button {
      @media screen and (max-width: 1200px) {
        &.buttonSmallTertiary.viewAll {
          justify-content: flex-start;
        }
      }
    }

  }

  button {
    width: 100%;
    @media screen and (max-width: 1200px) {
      &.buttonSmallTertiary.viewAll {
        display: flex;
        justify-content: center;
        align-items: center;
        span {
          margin-left: 4px;
        }
      }
    }
  }

  .featureNeeds {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-bottom: 32px;
    z-index: 4;

    @media screen and (max-width: 1200px) {
      //margin: 0 auto;
      padding-bottom: 0;
    }

    @media screen and (max-width: 992px) {
      margin: 0 auto;
      padding-bottom: 0;
    }

    .title-large {
      @media screen and (max-width: 1200px) {
        display: none;
        padding-top: 24px;
      }
    }
  }

  p {
    padding-top: 24px;
    padding-bottom: 24px;
  }

}

.container.small {
  max-width: 764px;
  margin: 0 auto;
  padding: 48px 0;
}

.section {
  text-align: center;

}

div.vertical{
  border:         none;
  border-left:    1px solid $dark;
  height:         95px;
  width:          1px;
  margin: 32px auto;
}

.stats {
  h3 {
    margin-bottom: 16px;
  }
  hr {
    margin-top: 32px;
    margin-bottom: 32px;
  }
  button {
    margin-top: 65px;
  }
}

.imageRoad {
  margin-top: 60px;
  margin-bottom: 60px;
}
.section.video{
  padding-top: 48px;
  padding-bottom: 48px;

  @media screen and (max-width: 992px) {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .text {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: left;
    flex: 0 0 auto;
    width: 50%;
    order: 1;
    @media screen and (max-width: 992px) {
      width: 100%;
      order: 2;
    }

    .title-medium, .text-normal {
      max-width: 697px;
    }
    .title-medium {
      margin-bottom: 24px;
      max-width: 697px;
    }

    a {
      color: initial;
    }
  }

  .image {
    flex: 0 0 auto;
    width: 50%;
    order: 2;
    @media screen and (max-width: 992px) {
      width: 100%;
      order: 1;
      margin-bottom: 48px;
    }

    img {
      width: 100%;
    }
  }
}

.partner {
  padding-top: 104px;

  .text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media screen and (max-width: 992px) {
      margin-top: 48px;
    }

    .inside {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      max-width: 713px;
    }
  }

  .insideQuotes {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 48px;
    padding-bottom: 48px;

    @media screen and (max-width: 992px) {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .quotesLeft {
    @media screen and (max-width: 992px) {
      order:1;
      width: 32px;
    }
  }
  .quotesRight {
    @media screen and (max-width: 992px) {
      order:2;
      width: 32px;
    }
  }

  .quotesText {

    max-width: 786px;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    @media screen and (max-width: 992px) {
      order:3;
      margin-top: 12px;
    }
  }
}

.buttonSmallTertiary.viewAll {
  text-align: left;
  margin-top: 24px;
}
