.needListHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-top: 104px;
  .titleNeeds {
    .title-xlarge {
      position: relative;
      padding-bottom: 32px;
      z-index: 2;
    }
  }
  .dots-picture {
    z-index: 1;
  }

  .text-normal-source {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
  }
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
  margin-top: 48px;
  margin-bottom: 48px;

  @media screen and (max-width: 992px) {
    gap: 12px;
    padding: 12px;
  }

  span {
    @media screen and (max-width: 1399px) {
      width: 100%;
    }
  }
    ng-select {
      width: 230px;
      @media screen and (max-width: 1399px) {
        width: 199px
      }

      @media screen and (max-width: 1199px) {
        width: 282px
      }
      @media screen and (max-width: 992px) {
        width: calc(50% - 6px);
      }

      &:last-child {
        @media screen and (max-width: 1199px) {
          width: calc(65% + 10px);
        }
        @media screen and (max-width: 992px) {
          width: 100%;
        }
      }

      .ng-placeholder {
        font-family: $headings-font-family;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 150%;
        color: $input-placeholder-color;
      }

      .ng-option-label {
        font-family: $headings-font-family;
      }
      .ng-arrow {
        border-color: #60605F transparent transparent;
      }
      &.ng-select-opened > .ng-select-container .ng-arrow {
        border-color: transparent transparent #60605F;
      }
    }
    .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-placeholder {
      top: auto;
      padding-bottom: 0;
      padding-left: 3px;
    }

  }
$feature-card-need-width: 370px;

.needsCards {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: row;
  padding-top: 48px;
  padding-bottom: 48px;
  &.loading {
    opacity: 0.2;
  }

  @media screen and (max-width: 992px) {
    gap: 12px;
    padding-top: 0;
    padding-bottom: 0;
  }

}
.needCard {
  display: flex;
  position: relative;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  max-width: $feature-card-need-width;
  padding: 32px;
  border: 1px solid #ECECEC;
  box-sizing: border-box;
  border-radius: 4px;
  z-index: 2;
  width: 100%;

  @media screen and (max-width: 1623px) {
    max-width: calc(25% - 18px);
  }
  @media screen and (max-width: 1399px) {
    max-width: calc(33.33333333% - 16px);
  }

  @media screen and (max-width: 992px) {
    max-width: calc(50% - 6px);
    padding: 12px;
  }

  &:not(.claimed) {
    cursor: pointer;
  }

  .claimed {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(117, 152, 150, 0.5);

    img {
      @media screen and (max-width: 992px) {
        max-height: 82px;
      }
    }

    p {
      font-family: $headings-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 120%;
      margin-bottom: 0;
      margin-top: 10px;
      color: white;

      @media screen and (max-width: 992px) {
        font-size: 20px;
      }
    }
  }
  .cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
      align-items: flex-start;
    }

    .price {
      span.active {
        svg {
          path {
            fill: $primary;
          }
        }
      }
    }

    .time {
      .icon {
        margin-right: 4px;
        &.passed {
          path {
            fill: $danger;
          }
        }
      }
      span {
        color: $warning;
        &.passed {
          color: $danger;
        }
      }
    }
  }
}

.max-w-card {
  max-width: $feature-card-need-width;
}

.paginationRow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 48px;
}

.noNeeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 94px;
  p {
    color: $input-placeholder-color;
  }
}

.loadingNeeds {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 48px;
  padding-bottom: 94px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  p {
    color: $input-placeholder-color;
  }
}

.ng-select.ng-select-multiple .ng-select-container .ng-value-container {
  padding-top: 0;
  padding-left: 10px;
}
