.headerSection {
  padding: 24px 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 992px) {
    padding: 12px;
  }

  .logo {
    @media screen and (max-width: 992px) {
      order: 1;
      img {
        height: 30px;
      }
    }
  }
  .needsCounter {
    display: flex;
    flex-direction: row;
    padding: 2px 24px;
    background: $success;
    border-radius: 100px;
    @media screen and (max-width: 992px) {
      justify-content: center;
      margin-top: 16px;
      width: 100%;
      order: 3;
    }
  }

  .actions {
    display: inline-flex;
    @media screen and (max-width: 992px) {
      order: 2;
    }
    .menu {

      .roundMenu {
        background: transparent;
        border: none;
        margin-left: 64px;
        @media screen and (max-width: 992px) {
          margin-left: 24px;
        }

        @media screen and (max-width: 500px) {
          margin-left: 12px;
        }

      }


      button {
        height: 34px;
      }
      .dropdown-menu {
        margin-top: 17px;
        margin-right: -48px;
      }
    }
  }
}

.needsCounter {

  .needsMet {
    margin-right: 16px;
  }
  .needsRemaining {
    margin-left: 16px;
  }
  .needsMet, .needsRemaining {
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color:white;
    }
    span:first-child {
      margin-right: 8px;
    }
  }

}

.actions {

  .donate {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn-danger {
    color: $danger;
    background-color: white;
    border-color: transparent;
    padding: 8px 16px;
    font-family: $headings-font-family;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    margin-right: 48px;
    &:focus {
      box-shadow: none;
    }
  }
}
