.backToNeeds {
  padding-top: 48px;
  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    .icon {
      margin-right: 4px;
    }
  }
}

.needInfoRow {
  padding-top: 48px;
  padding-bottom: 48px;

  .needInfoImage {
    padding-right: 24px;

    @media screen and (max-width: 1200px) {
      padding: 0 0 24px 0;
    }

    img {
      width: 100%;
    }
  }

  .needInfoText {
    padding-left: 24px;
    @media screen and (max-width: 1200px) {
      padding-left: 0;
    }
    .location {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding-top: 32px;
      padding-bottom: 32px;

      @media screen and (max-width: 1200px) {
        padding-top: 24px;
        padding-bottom: 24px;
      }

    }
  }
  .priceInfo {
    padding-bottom: 32px;
  }

  .needAction {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
    margin-top: 32px;
    .buttonNormalPrimaryFilled {
      border: 1px solid $primary;
    }
    .buttonNormalPrimaryNoFill {
      border-color: $primary;
      color: $primary;
      text-decoration: none;
      &:hover {
        background-color: $primary;
        color: white;
      }
    }
  }
}

.needDescription {
  .ql-editor {
    padding: 0;
    min-height: auto;
    p {
      margin-bottom: 1em;
      @extend .text-normal-source;
    }
    ol, ul{
      margin-bottom: 1em;
    }
    li {
      @extend .text-normal-source;
    }
  }

}

.section.video.needDetail {
  padding-top: 104px;
  padding-bottom: 104px;

  @media screen and (max-width: 992px) {
    padding: 0;
    margin-top: 104px;
    margin-bottom: 104px;
  }

  img {
    width: 100%;
    @media screen and (max-width: 992px) {
      margin-top: 48px;
    }
  }

  .bg-gray {
    padding: 64px;
    background-color: #ECECEC;
    @media screen and (max-width: 992px) {
      padding: 32px 12px 12px 12px;
    }
  }

  .section.stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
      display: flex;
      align-content: center;
      justify-content: center;
      .title-medium {
        position: relative;
        z-index: 3;
      }
      .dots-picture {
        z-index: 1;

        @media screen and (max-width: 992px) {
          top: -13px;
          left: -32px;
          width: 46px;
          height: 42px;
          .dot {
            width: 7px;
            height: 7px;
          }

        }
      }
    }

    .listOl {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}


.slider {
  padding-top: 48px;
  padding-bottom: 48px;
  .title-normal {
    margin-bottom: 24px;
  }
  .owl-carousel {

    .owl-stage {
      display: flex;
      .owl-item {
        flex-grow: 1;
        display: flex;
        //max-width: 370px;
      }

    }


    .owl-nav {
      width: 100%;
      position: absolute;
      left: 0;
      right: 0;
      top: 30%;
      z-index: -1;

      @media screen and (max-width: 1083px) {
        top: auto;
      }

    }

    .owl-prev {
      position: absolute;
      left: -70px;
      background-color: transparent !important;
      @media screen and (min-width: 1400px) and ( max-width: 1675px) {
        left: -40px;
      }
      @media screen and (max-width: 1083px) {
        left: 0;
      }
    }

    .owl-next {
      position: absolute;
      right: -70px;
      background-color: transparent !important;
      @media screen and (min-width: 1400px) and (max-width: 1675px) {
        right: -40px;
      }
      @media screen and (max-width: 1083px) {
        right: 0;
      }
    }

    .owl-dots {
      width: calc(100% - 100px);
      margin: 28px auto 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      .owl-dot {
        span {
          width: 12px;
          height: 12px;
          background: $dropdown-bg;
          border-radius: 4px;
        }
        &.active {
          span {
            background: $primary;
          }
        }
      }



    }



  }

  .needCard {
    @media screen and (max-width: 1623px) {
      max-width: 100%;
    }
  }
}
