.thankYouRow {

  .heroImageThankYou {
    margin-top: 48px;
  }

  .container-small {
    max-width: 1026px;
    margin: -120px auto 48px  auto;
    padding: 64px;

    @media screen and (max-width: 1200px) {
      margin: 0 auto 48px  auto;
      padding: 12px;
    }

    &.share {
      margin: 48px auto 120px  auto;

      @media screen and (max-width: 1200px) {
        margin: 0 auto 48px  auto;
      }

    }
  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    .title-medium {
      max-width: 693px;
      margin: 0 auto;
      z-index: 4;
      position: relative;
    }
  }

  .divider {
    color: $danger;
    width: 120px;
    height: 2px;
    margin: 32px auto;
    opacity: 1;
    @media screen and (max-width: 1200px) {
      margin: 0 auto 32px auto;
    }
  }

  .dots-picture {
    width: 105px;
    height: 80px;
    top: -36px;
    left: -59px;
    z-index: 1;

    @media screen and (max-width: 1200px) {
      width: 45px;
      height: 80px;
      top: -19px;
      left: -19px;

      .dot {
        width: 8px;
        height: 8px;
      }
    }


  }

  .shareRow {
    .title-small {
      text-align: center;
    }

    .shareIcons {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 24px;
      gap: 32px;
    }
  }

  .addressWarning {
    display: inline-flex;
    align-items: center;
    padding: 2px;
    img {
      margin: 2px;
    }
    span {
      color:$danger;
    }
  }
}
