.unsubscribe {
  min-height: 100vh;

  .rowContent {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    .contentDiv {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
      padding-top: 48px;
      padding-bottom: 48px;

      .content {
        max-width: 1026px;
        margin: 0 auto;
        padding: 64px;
        text-align: center;

        .title-medium {
          margin-bottom: 24px;
        }

        .button {
          color: $primary;
          text-decoration: underline;
        }
      }
    }

  }


  .divider {
    color: $danger;
    width: 120px;
    height: 2px;
    margin: 32px auto;
  }

}
