html,
body {
  display: block;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.grecaptcha-badge {
  visibility: hidden;
}

.brand {
  p {
    &.logo {
      svg {
        width: 54px;
        height: 54px;
      }
    }

    &.text {
      color: #97A7B5;
      display: flex;
      flex-direction: row;
      font-family: "Mulish",
        sans-serif;
      font-weight: 700;
      margin-left: 0.8rem;

      .color {
        color: #f66847;
        margin: 0 0.3rem
      }
    }
  }
}

.button-dark {
  background-color: $dark;
  color: $light;
}