<div class="sidebar dashboard">
  <div class="logo">
    <img src="../../../../../../assets/images/logo-white.svg" alt="CareNow logo">
  </div>

  <ul class="menu">
    <ng-container *ngFor="let item of menu;">
      <li routerLinkActive="active">
        <a [routerLink]="item.link">
          <div class="menuIcon" [inlineSVG]="item.icon"></div>
          <span>{{item.title}}</span>
        </a>
      </li>
    </ng-container>
  </ul>
  <div class="logoutSection pointer" (click)="logout()">
    <div class="menuIcon" [inlineSVG]="'./assets/images/icons/icon-logout.svg'"></div>
    <p>Logout</p>
  </div>
</div>
