<div class="modal-header">
  <h4 class="modal-title pull-left">Edit Selected Needs</h4>
  <div class="close pull-right pointer" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body cropImageModal">
  <div class="container-fluid needsAddOrEdit">
    <div class="row">
      <div class="col-12">
        <form [formGroup]="form" autocomplete="off">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <label class="col-sm-2 col-form-label" for="familyName">Family Name:</label>
                <div class="col-sm-10">
                  <input
                    formControlName="familyName"
                    class="form-control"
                    type="text"
                    name="familyName"
                    id="familyName"
                  >
                </div>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>


</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="closeModal()"
  >
    Close
  </button>
  <button type="button"
          class="btn btn-primary"
          (click)="groupNeedSave()"
  >
    Save
  </button>
</div>
