<div class="container claimNeed" *ngIf="item">
  <div class="close pull-right" aria-label="Close" (click)="closeModal()">
    <img src="./assets/images/icons/icon-close-modal.svg" alt="close icon">
  </div>
  <form [formGroup]="form" autocomplete="off" (submit)="save()">
    <div class="row">
      <div class="col-12">
        <p class="title-medium">{{item.title}}</p>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label-text" for="firstName">First name</label>
          <input
            type="text"
            class="form-control"
            id="firstName"
            placeholder="First name"
            formControlName="firstName"
            [class.is-invalid]="f['firstName'].invalid && (f['firstName'].touched || submitted)"
          >
        </div>
      </div>
      <div class="col-12 col-sm-6">
        <div class="form-group">
          <label class="label-text" for="lastName">Last name</label>
          <input
            type="text"
            class="form-control"
            id="lastName"
            placeholder="Last name"
            formControlName="lastName"
            [class.is-invalid]="f['lastName'].invalid && (f['lastName'].touched || submitted)"
          >
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label-text" for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="Email"
            placeholder="name@email.com"
            formControlName="email"
            [class.is-invalid]="f['email'].invalid && (f['email'].touched || submitted)"
          >
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label class="label-text" for="phoneNumber">Phone Number</label>
          <input
            type="tel"
            class="form-control"
            id="phoneNumber"
            placeholder="(555) 907-6543"
            formControlName="phoneNumber"
            [class.is-invalid]="f['phoneNumber'].invalid && (f['phoneNumber'].touched || submitted)"
          >
        </div>
      </div>

        <div class="col-12">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="agreePurchase"
              formControlName="agreePurchase"
              [class.is-invalid]="f['agreePurchase'].invalid && (f['agreePurchase'].touched || submitted)"
            >
            <label class="text-normal-source form-check-label" for="agreePurchase">
              I agree to purchase the item as described and ship it to the
              address on the confirmation page by
              <strong *ngIf="item.expiresAt">{{formatDate(item.expiresAt)}}</strong>
              <strong *ngIf="!item.expiresAt">-</strong>
              .
            </label>
          </div>
        </div>
        <div class="col-12">
          <div class="form-check">
            <input
              type="checkbox"
              class="form-check-input"
              id="agreeTerms"
              formControlName="agreeTerms"
              [class.is-invalid]="f['agreeTerms'].invalid && (f['agreeTerms'].touched || submitted)"
            >
            <label class="text-normal-source form-check-label" for="agreeTerms">
              I have read and agree to the
              <a href="https://www.cfknc.org/confidentialityagreement" target="_blank">Confidentiality Agreement</a>.
            </label>
          </div>
        </div>
        <div class="col-12">
          <button type="submit" class="buttonNormalPrimaryFilled w-100">
            Meet This Need
          </button>
        </div>
    </div>
  </form>
</div>
