<div class="row gy-2">
  <div class="counter-cards col-lg-4 col-md-6">
    <div class="counter-cards__left d-flex justify-content-between align-items-center">
      <p>Blog Posts<span>{{ totalPosts }}</span></p>
      <mat-icon>bookmark</mat-icon>
    </div>
    <a routerLink="/blog" class="counter-cards__right"><mat-icon>chevron_right</mat-icon></a>
  </div>
  <div class="counter-cards col-lg-4 col-md-6">
    <div class="counter-cards__left d-flex justify-content-between align-items-center">
      <p>Projects<span>{{ totalProjects }}</span></p>
      <mat-icon>devices</mat-icon>
    </div>
    
    <a routerLink="/projects" class="counter-cards__right"><mat-icon>chevron_right</mat-icon></a>
  </div>
  <div class="counter-cards col-lg-4 col-md-6">
    <div class="counter-cards__left d-flex justify-content-between align-items-center">
      <p>Testimonials<span>{{ totalTestimonials }}</span></p>
      <mat-icon>workspace_premium</mat-icon>
    </div>
    <a routerLink="/testimonials" class="counter-cards__right"><mat-icon>chevron_right</mat-icon></a>
  </div>
</div>