<div class="container-fluid form-container">
  <div class="form-content">
    <form [formGroup]="testimonialForm" (submit)="onSubmit()">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="form-title">
          <span *ngIf="!testimonials.id">Add Testimonial</span>
          <span *ngIf="testimonials.id">
            Edit: {{ testimonials.name }}
          </span> </h2>
        <button type="submit" mat-raised-button class="button button-dark">Save</button>
      </div>
      <div class="container-fluid row shadow p-4 mb-5 bg-white rounded my-4 mx-auto w-100">
        <div class="row gy-2 col-12">
          <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-4">
            <mat-label>Name</mat-label>
            <input 
              matInput
              formControlName="name"
              placeholder="Enter name"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-4 col-lg-4">
            <mat-label>Company</mat-label>
            <input 
              matInput 
              formControlName="company"
              placeholder="Enter company"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-3">
            <mat-label>Review Source</mat-label>
            <mat-select
              formControlName="source"
            >
              <mat-option value="main">Main</mat-option>
              <mat-option value="clutch">Clutch</mat-option>
              <mat-option value="google">Google</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-1">
            <mat-label>Rank</mat-label>
            <input 
              matInput 
              formControlName="rank"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-4 col-lg-4">
            <mat-label>Title</mat-label>
            <input 
              matInput
              formControlName="title"
              placeholder="Enter title"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-4">
            <mat-label>Source URL</mat-label>
            <input 
              matInput 
              formControlName="sourceURL"
              placeholder="Enter source URL"
            >
          </mat-form-field>
          <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-4">
            <mat-label>Location</mat-label>
            <input
              matInput
              formControlName="location"
              placeholder="Enter location"
            >
          </mat-form-field>
          </div>
          <div class="row gy-2 col-12">
            <mat-form-field appearance="outline" class="col-12 col-md-6 col-lg-4 row-image mt-3">
              <mat-label>Description</mat-label>
              <textarea 
                matInput 
                formControlName="description"
                rows="12"
                style="resize: none;"
              ></textarea>
            </mat-form-field>
            <div class="col-12 col-lg-8">
              <label class="image-label">Image</label>
              <div class="row flex-wrap gx-4">
                <app-cropper
                  class="col-12"
                  [ngClass]="{'col-md-6': testimonials.src}"
                  (imageURL)="addImageURL($event)"
                ></app-cropper>
                <div *ngIf="testimonials.src" class="col-12 col-md-6 image-cropped">
                  <img [src]="srcURL" alt="testimonial">
                </div>
              </div>
            </div>
          </div>
      </div>
    </form>
  </div>
</div>
