<div class="container-fluid overflow-hidden">
  <div class="row">
    <div class="col-12 frontHeader">
      <app-menu></app-menu>
    </div>
    <div class="heroImage position-relative">
      <div class="heroText">
        <p class="title-xsmall">HOPE HAPPENS IN MOMENTS.</p>
        <p class="title-xlarge">Be a Champion in the Moment.</p>
        <p class="text-normal-source">
          This is a list of immediate needs of children, families, and young
          adults in the foster care system.
          This is your opportunity to get involved in a foster child’s life: NOW!
        </p>
        <button class="buttonLargeSecondaryFilled" routerLink="/needs">
          Today’s Needs
        </button>
      </div>
      <div class="dots-hero position-absolute">
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
        <span class="dot dot--2"></span>
        <span class="dot dot--3"></span>
        <span class="dot dot--4"></span>
        <span class="dot dot--5"></span>
        <span class="dot dot--6"></span>
        <span class="dot dot--1"></span>
      </div>
    </div>

    <div class="bg-gray">
      <div class="container">
        <div class="row rowFeatureNeeds hero">
          <div class="col max-w-card featureNeeds">
            <h3 class="title-large">Featured Needs</h3>
            <button class="buttonSmallTertiary viewAll" routerLink="/needs">
              VIEW ALL NEEDS
              <span [inlineSVG]="'./assets/images/icons/icon-arrow-right.svg'"></span>
            </button>
          </div>
          <div class="col">
            <div class="needsFeatureCards">
              <div class="needFeatureCard" *ngFor="let item of items;">
                  <div class="cardImage">
                    <img *ngIf="item.imageURL" [src]="frontUrl +  item.imageURL" alt="{{item.title}}">
                    <img *ngIf="!item.imageURL"  [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                  </div>
                <div class="cardTitle">
                  <p class="text-normal" >{{item.title}}</p>
                </div>
                <div class="cardAction">
                  <a class="buttonNormalPrimaryFilled w-100" target="_blank" routerLink="/needs/{{item.id}}">
                    Meet This Need
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="bg-light">
      <div class="container small">
        <div class="row">
          <div class="col-12 section stats">
            <h3 class="title-medium">In North Carolina, 89% of children entering the foster care system do so because of neglect.</h3>
            <p class="text-normal-source">Neglect is not the result of one traumatic event. It is the product of hundreds of small, hurtful moments in a foster child's life. While meeting one need will not erase a story of neglect, it can create a moment for one child or one family to feel hope.</p>
            <div class="vertical"></div>
            <p><mark>BE A CHAMPION AND MAKE THE MOST OF A MOMENT FOR ONE CHILD OR ONE FAMILY.</mark></p>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-light">
      <div class="container small">
        <div class="row">
          <div class="col-12 section stats">
            <div class="row">
              <div class="col-12">
                <h2 class="title-large">
              <span class="position-relative">
                How it Works

                <div class="dots-title position-absolute">
                  <span class="dot dot--1"></span>
                  <span class="dot dot--1"></span>
                  <span class="dot dot--1"></span>
                  <span class="dot dot--3"></span>
                  <span class="dot dot--3"></span>
                  <span class="dot dot--3"></span>
                  <span class="dot dot--4"></span>
                  <span class="dot dot--4"></span>
                  <span class="dot dot--5"></span>
                  <span class="dot dot--5"></span>
                  <span class="dot dot--6"></span>
                  <span class="dot dot--6"></span>
                </div>
              </span>
                </h2>
              </div>
              <div class="col-12">
                <div class="cfk-image mobile" [inlineSVG]="'./assets/images/homepage/CFK-assets_mobile-scheme.svg'"></div>
                <div class="cfk-image desktop" [inlineSVG]="'./assets/images/homepage/CFK-assets_desktop-scheme.svg'"></div>
              </div>
              <div class="col-12">
                <button class="buttonLargeSecondaryFilled" routerLink="/needs/">
                  Get Started Now
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-primary">
      <div class="container">
        <div class="row section video">
          <div class="text">
            <h3 class="title-medium">Watch this demo video to learn more.</h3>
            <p class="text-normal">
              Watch as Congregations for Kids walks you through the CAREnow platform.
              If you have any follow up questions regarding the platform or
              Congregations for Kids, please send an email to <a href="mailto:carenow@cfknc.org" target="_blank">carenow@cfknc.org</a>.
            </p>
          </div>
          <div class="image">
            <picture (click)="presentationVideo()" class="pointer">
              <source media="(min-width:650px)"
                      srcset="
                            ./assets/images/homepage/video.png 1x,
                            ./assets/images/homepage/video@2x.png 2x,
                            ./assets/images/homepage/video@3x.png 3x
                          "
              >
              <source media="(min-width:465px)"
                      srcset="
                            ./assets/images/homepage/video.png 1x,
                            ./assets/images/homepage/video@2x.png 2x,
                            ./assets/images/homepage/video@3x.png 3x
                          "
              >
              <img src="./assets/images/homepage/video.png" alt="video image">
            </picture>
          </div>

        </div>
      </div>
    </div>
    <div class="bg-gray">
      <div class="container">
        <div class="row partner">
            <div class="col-12 col-lg-6 position-relative">
              <picture class="pointer">
                <source media="(min-width:650px)"
                        srcset="
                          ./assets/images/homepage/col.png 1x,
                          ./assets/images/homepage/col@2x.png 2x,
                          ./assets/images/homepage/col@3x.png 3x
                        "
                >
                <source media="(min-width:465px)"
                        srcset="
                          ./assets/images/homepage/col.png 1x,
                          ./assets/images/homepage/col@2x.png 2x,
                          ./assets/images/homepage/col@3x.png 3x
                        "
                >
                <img src="./assets/images/homepage/col.png" alt="people" style="width:100%;">
              </picture>
              <div class="dots-picture">
                <span class="dot dot--1"></span>
                <span class="dot dot--2"></span>
                <span class="dot dot--3"></span>
                <span class="dot dot--4"></span>
                <span class="dot dot--5"></span>
                <span class="dot dot--6"></span>
              </div>
            </div>
            <div class="col-12 col-lg-6 text">
              <div class="inside">
                <p class="text-normal-source">
                  We are proud to partner with, and support, our local Department of Social Services and Youth and Family
                  Services agencies. We believe this platform will serve as an example of how community partners can aide
                  not only vulnerable children and their families, but the agency staff that supports those individuals.
                  CAREnow is an asset to all working with vulnerable children in Mecklenburg County.
                </p>
                <p class="text-normal-source mt-3">
                  Download our end-of-year report to see how Congregations for
                  Kids is making a difference in Mecklenburg County.
                </p>
                <a class="buttonNormalPrimaryFilled mt-3" href="https://www.cfknc.org/impact" target="_black">
                  Get The Report
                </a>
              </div>
            </div>
            <div class="col-12">
              <div class="insideQuotes">
                <img class="quotesLeft" src="./assets/images/icons/icon-quotes-left.svg" alt="quotes left">
                <div class="quotesText">
                  <p class="title-normal">
                    Ensuring a child's safety requires a collaborative effort among family,
                    agency staff, and the community. We wholeheartedly welcome Congregations
                    for Kids and their efforts to provide children and families concrete support
                    and other tangible needs that cannot be attained through other resources.
                  </p>
                  <p class="text-normal">– DIVISION DEPUTY DIRECTOR, MECKLENBURG COUNTY</p>
                </div>

                <img  class="quotesRight" src="./assets/images/icons/icon-quotes-right.svg" alt="quotes right">
              </div>
          </div>
          </div>
      </div>
    </div>

    <div class="bg-light position-relative overflow-hidden">
      <div class="container">
        <div class="row rowFeatureNeeds bottom">
          <div class="col max-w-card featureNeeds">
            <h3 class="title-large">Featured Needs</h3>
            <p class="text-normal">
              This a list of immediate needs of children, families, and young adults in the foster care system.
              This is your opportunity to get involved in a foster child's life, Now.
            </p>
            <button class="buttonSmallTertiary viewAll" routerLink="/needs">
              VIEW ALL NEEDS
              <img src="./assets/images/icons/icon-arrow-right.svg" alt="right arrow">
            </button>
          </div>
          <div class="col">
            <div class="needsFeatureCards">
              <div class="needFeatureCard" *ngFor="let item of items;">
                <div class="cardImage">
                  <img *ngIf="item.imageURL" [src]="frontUrl +  item.imageURL" alt="{{item.title}}">
                  <img *ngIf="!item.imageURL"  [src]="'./assets/images/need-img-placeholder.png'" alt="defautl need image">
                </div>
                <div class="cardTitle">
                  <p class="text-normal" >{{item.title}}</p>
                </div>
                <div class="cardAction">
                  <a class="buttonNormalPrimaryFilled" target="_blank" routerLink="/needs/{{item.id}}">
                    Meet This Need
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dots-cta-featured position-absolute">
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
            <span class="dot dot--6"></span>
            <span class="dot dot--1"></span>
            <span class="dot dot--2"></span>
            <span class="dot dot--3"></span>
            <span class="dot dot--4"></span>
            <span class="dot dot--5"></span>
          </div>
        </div>
      </div>
    </div>

    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
</div>



