.cfk-image {
  margin-top: 92px;
  margin-bottom:0;
  @media screen and (max-width: 992px) {
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
  &.mobile {
    @media screen and (min-width: 992px) {
      display: none;
    }
    @media screen and (max-width: 992px) {
      display: block;
    }
  }
  &.desktop {
    @media screen and (min-width: 992px) {
      display: block;
    }
    @media screen and (max-width: 992px) {
      display: none;
    }
  }
}
