<div class="row">
  <div class="col-12">
    <form [formGroup]="form" autocomplete="off">
      <div class="row">
        <div class="col-lg-6 col-xs-12">
          <div class="form-group">
            <input
              formControlName="keyword"
              type="text"
              name="keyword"
              id="keyword"
              class="form-control"
              placeholder="Keyword"
              (ngModelChange)="searchEnter()"
            >
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 itemsCenter">
          <div title="Thank You Sent" class="col-12">
            <div id="thankYouSent">
              <label class="form-check-label mr-3" for="thankYouSent"> Thank You Sent:</label>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="1" formControlName="thankYouSentYes" (ngModelChange)="searchEnter()">
                <label class="form-check-label" for="inlineCheckbox1">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="0" formControlName="thankYouSentNo"  (ngModelChange)="searchEnter()">
                <label class="form-check-label" for="inlineCheckbox2">No</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 mt-3">
          <div class="form-group">
            <ng-select
              [clearable]="true"
              [items]="counties$ | async"
              bindLabel="name"
              bindValue="id"
              id="counties"
              [loading]="countiesLoading"
              formControlName="county"
              placeholder="Counties..."
              (change)="search()"
            >
            </ng-select>
          </div>
        </div>
        <div class="col-lg-6 col-xs-12 mt-3">
          <div class="form-group">
            <ng-select
              [clearable]="true"
              [items]="status$ | async"
              bindLabel="name"
              bindValue="id"
              id="status"
              formControlName="status"
              placeholder="Status..."
              (change)="search()"
            >
            </ng-select>
          </div>
        </div>


      </div>

    </form>
  </div>
</div>

