$primary: black !default;
$admin_background: white !default;

.dashboard {
  height: 100vh;
  .dashboardSidebar {
    max-width: 250px;
    height: 100vh;
  }

  .dashboardContent {
    background-color: $admin_background;
    height: 100vh;
    overflow-y: auto;
  }
}

.card-header.bg-info.pointer-event {
  display: flex;
  justify-content: space-between;
}

table {
  p {
    margin-bottom: 0;
  }
}

.form-group.images {
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fa-icon {
      display: flex;
      justify-content: center;
      margin-right: 12px;
    }
  }
}

.imageCard {
  .insideCard {
    position: relative;
    margin: auto;
    img {
      width: 100%;
    }
    .removeImage {
      position: absolute;
      right: 15px;
      top: 15px;
      color: red;
    }
  }
}

.needsAddOrEdit {
  .input-group > ng-select {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
  }
  .input-group-text {
    min-width: 173px;
  }
}

tr.selected {
  background-color: $tertiary;
}
