$primary: black !default;
.dashboard {
  .dashboardSidebar {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: $primary;


    .logo {
      padding-top: 22px;
      padding-bottom: 22px;
      margin-bottom: 50px;
      img {
        width: 100%;
        display: block;
      }
    }

    .sidebar.dashboard {
      display: flex;
      flex-direction: column;
      padding-bottom: 22px;
    }
  }
  .menu {
    padding: 0;
    list-style: none;
    margin: 0;
    li {
      display: block;
      margin-bottom: 10px;
      a {
        color: #fff;
        text-decoration: none;
        padding: 16px 13px;
        display: flex;
        align-items: center;
        .menuIcon {
          max-width: 20px;
          svg {
            path {
              fill: white;
            }

          }
        }
        span {
          margin-left: 15px;
        }
      }
    }

    li.active {
      a {
        color: #fff;
        background-color: $btn-menu-active-color;
      }
    }
    li:hover {
      a {
        color: #fff;
        background-color: $btn-menu-hover-color;
      }
    }

    li.active, li:hover {
      a {
        .menuIcon {
          max-width: 20px;
          svg {
            path {
              fill: white;
            }

          }
        }
      }
    }
    .fa {
      width: 30px;
    }
  }
  .logoutSection {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: $primary;
    padding: 12px;
    border: 1px solid $btn-primary-color;
    border-radius: $btn-border-radius;
    cursor: pointer;
    &:hover {
      background-color: $btn-menu-hover-color;
    }
    .menuIcon {
      margin-right: 15px;

      svg {
        path {
          fill: $btn-primary-color;
        }

      }
    }

    p {
      font-family: $font-family-base;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      margin: 0;
    }

  }

}
