<div class="modal-header">
  <h4 class="modal-title pull-left">Crop Imaginea</h4>
  <div class="close pull-right" aria-label="Close" (click)="closeModal()">
    <span aria-hidden="true">&times;</span>
  </div>
</div>
<div class="modal-body cropImageModal">
  <div class="row">
    <div class="col-6">
      <div *ngIf="imageToCrop && cropImageExist && (aspectRatio || aspectRatio === null)" class="imageCropper">
        <image-cropper
          *ngIf="aspectRatio"
          [imageChangedEvent]="imageToCrop"
          (imageCropped)="imageCropped($event)"
          [aspectRatio]="aspectRatio"
          [containWithinAspectRatio] = true
          maintainAspectRation="true"
          format="png"
        ></image-cropper>
        <image-cropper
          *ngIf="!aspectRatio"
          [imageChangedEvent]="imageToCrop"
          (imageCropped)="imageCropped($event)"
          format="png"
        ></image-cropper>

      </div>
    </div>
    <div class="col-6" *ngIf="imageToCrop && cropImageExist && options.aspectRatio">
      <img [src]="croppedImage" alt="Image">
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-default"
          (click)="closeModal()"
  >
    Close
  </button>
  <button type="button"
          class="btn btn-primary"
          (click)="sendFileToParent()"
  >
    Crop
  </button>
</div>
