<div class="container-fluid overflow-hidden unsubscribe">
  <div class="row rowContent">
    <div class="col-12 frontHeader">
      <app-menu></app-menu>
    </div>

    <div class="bg-light contentDiv">
      <div class="container">
        <div class="row">
          <div class="col-12 content bg-gray">
            <ng-container *ngIf="!loading">
              <ng-container>
                <p class="title-medium">
                  Successfully Subscribed
                </p>
                <p class="text-normal">
                  Thank you! You've been successfully subscribed!
                </p>
                <p class="text-normal">
                  Check your inbox every day to be one of the first to know when new needs are added.
                </p>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="loading">
              <p class="title-medium">
                <shimmer width="40%" borderRadius="5px"></shimmer>
              </p>
              <p class="text-normal">
                <shimmer width="80%" borderRadius="5px"></shimmer>
              </p>
              <p class="text-normal">
                <shimmer width="80%" borderRadius="5px"></shimmer>
              </p>
            </ng-container>
            <hr class="divider">
            <button class="buttonNormalPrimaryFilled" routerLink="/">
              Go to Homepage
            </button>
          </div>
        </div>
      </div>
    </div>

    <app-newsletter></app-newsletter>
    <app-footer></app-footer>
  </div>
</div>



