<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Login</h3>
            <form [formGroup]="form" autocomplete="off" (submit)="onSubmit()">
              <div class="input-group mb-4">
                <span class="input-group-text" id="addon-wrapping">
                  <fa-icon [icon]="'envelope'"></fa-icon>
                </span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Email"
                  aria-label="Username"
                  aria-describedby="addon-wrapping"
                  formControlName="email"
                >
              </div>

              <div class="input-group mb-4">
                <span class="input-group-text" id="password">
                  <fa-icon [icon]="'lock'"></fa-icon>
                </span>
                <input
                  type="password"
                  class="form-control"
                  placeholder="Password"
                  aria-label="password"
                  aria-describedby="addon-wrapping"
                  formControlName="password"
                >
              </div>
              <button class="btn btn-primary w-100" type="submit">Login</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
