.modal-body.video {
  padding: 0;
  position: relative;
  .close {
    position: absolute;
    color: white;
    right: 0;
    top: 0;
    z-index: 1111;
    font-size: 30px;
    cursor: pointer;
    width: 30px;
    height: 34px;
    text-align: center;
  }
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
