<h1> {{ title }} </h1>
<div class="container-fluid">
<app-counter-cards 
    [totalPosts]="totalPosts"
    [totalProjects]="totalProjects"
    [totalTestimonials]="totalTestimonials"
  ></app-counter-cards> 

</div>