<div class="container-fluid">
  <div class="d-flex justify-content-between align-items-start">
    <mat-form-field class="w-75" appearance="outline">
    <mat-label>Search</mat-label>
      <input matInput type="text" (keyup)="doFilter($event)" placeholder="Keyword">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <button mat-raised-button class="button button-dark" routerLink="add">Add new post</button>
  </div>
  <div class="table-responsive">
    <table class="table table-striped" mat-table #table [dataSource]="dataSource" matSort>
      <ng-container matColumnDef="folder">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Folder</th>
        <td mat-cell *matCellDef="let blog">{{blog.folder}}</td>
      </ng-container>

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
        <td mat-cell *matCellDef="let blog">{{blog.title}}</td>
      </ng-container>

      <ng-container matColumnDef="slug">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Slug</th>
        <td mat-cell *matCellDef="let blog">{{blog.slug}}</td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let blog">{{blog.status}}</td>
      </ng-container>

      <ng-container matColumnDef="publishURLPath">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Publish URL Path</th>
        <td mat-cell *matCellDef="let blog">{{blog.publishURLPath}}</td>
      </ng-container>

      <ng-container matColumnDef="updatedAt">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updated At</th>
        <td mat-cell *matCellDef="let blog">{{blog.updatedAt * 1000 | date: 'dd MMM y'}}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let blog">
          <a [routerLink]="blog.id +'/edit'">
            <mat-icon class="material-icons-outlined">
              edit
            </mat-icon>
          </a>
          <a (click)="onDelete(blog.id)" style="cursor: pointer;">
            <span class="material-icons-outlined text-danger">
              delete
            </span>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <mat-paginator #paginator [pageSize]="pageLimit" [pageSizeOptions]="[pageLimit, 15, 20]">
  </mat-paginator>
</div>
